Repository Hyperpolymath/echidna: changes, and which Codecov flags are due for each by the changed paths.
All: rust, julia, rescript, Rust Core, Julia ML, ReScript UI

refactor(rename): VQL → VCL + verisimdb → verisim (ecosystem consistency)
  .machine_readable/integrations/verisim.a2ml
  Cargo.toml
  PROOF-NEEDS.md
  docs/ECOSYSTEM-INTEGRATION.md
  echidnabot/src/config.rs
  ffi/zig/src/provers/vcl_ut.zig
  llm-warmup-user.md
  src/rust/agent/memory.rs
  src/rust/lib.rs
  src/rust/vcl_ut.rs
  src/rust/verisim_bridge.rs
Due: rust, Rust Core

fix(proofs/idris2): repair 3 broken files — 5/5 now compile
  verification/proofs/idris2/AxiomCompleteness.idr
  verification/proofs/idris2/DispatchOrdering.idr
  verification/proofs/idris2/ProverKindInjectivity.idr
Due: none

fix(server): guard against empty-ProofState false positives in verify/prove
  TEST-NEEDS.md
  src/rust/server.rs
Due: rust, Rust Core

chore(proofs): add F* corpus (5 arithmetic lemmas)
  proofs/fstar/AddAssoc.fst
  proofs/fstar/AddComm.fst
  proofs/fstar/MulZero.fst
  proofs/fstar/NonNeg.fst
  proofs/fstar/Refl.fst
Due: none

fix(provers/isabelle): de-stub parse_string + verify_proof
  .machine_readable/6a2/STATE.a2ml
  CHANGELOG.md
  src/rust/provers/isabelle.rs
Due: rust, Rust Core

docs(changelog): consolidate 2026-04-05 Unreleased section
  CHANGELOG.md
Due: none

docs: update CHANGELOG + STATE.a2ml for 2026-04-05 session
  .machine_readable/6a2/STATE.a2ml
Due: none

fix(echidna): per-backend verify_raw + ProofComposition.agda rewrite
  proofs/agda/ProofComposition.agda
  src/rust/server.rs
Due: rust, Rust Core

fix(api): route SMT check-sat queries through raw solver eval
  .containerization/Containerfile.full
  ROADMAP.adoc
  src/rust/server.rs
Due: rust, Rust Core

Add Invariant Path wrapper profile for Echidna
  scripts/invariant-path.sh
  tools/invariant-path/README.md
Due: none

Add Just recipe for Invariant Path wrapper
  Justfile
  tools/invariant-path/README.md
Due: none

chore(licence): clarify MPL-2.0 fallback — PMPL-1.0-or-later preferred
  LICENSE
Due: none

feat(coupling): wire echidnabot → VeriSimDB + Julia retrain pipeline
  echidnabot/src/lib.rs
  echidnabot/src/main.rs
  echidnabot/src/verisim_writer.rs
  src/julia/api_server.jl
  src/julia/retrain_from_verisim.jl
Due: julia, Julia ML

fix(fly): cold-start hardening — 90s grace, HTTP health check, curl
  .containerization/Containerfile.full
  fly.toml
Due: none

feat(echidnabot+retrain): wire VeriSimDB dogfood loop end-to-end
  echidnabot/src/main.rs
  echidnabot/src/verisim_writer.rs
  models/premise_vocab.txt
  models/tactic_model.txt
  models/tactic_vocab.txt
  src/julia/retrain_from_verisim.jl
Due: julia, Julia ML

chore(6a2): update echidnabot STATE + fix Intentfile copy-paste
  contractiles/intend/Intentfile.a2ml
  echidnabot/.machine_readable/6a2/STATE.a2ml
Due: none

docs(machine-readable): update 6a2 for 2026-04-11 Fly cold-start hardening session
  .machine_readable/6a2/ECOSYSTEM.a2ml
  .machine_readable/6a2/STATE.a2ml
Due: none

feat(v2.2): epistemic hardening — Z3 easy fixes, integration wiring, roadmap
  README.adoc
  echidna-playground/contractiles/lust/Intentfile
  echidnabot/.machine_readable/6a2/STATE.a2ml
  echidnabot/ROADMAP.adoc
  echidnabot/src/dispatcher/echidna_client.rs
  echidnabot/src/dispatcher/mod.rs
  src/rust/provers/z3.rs
  src/rust/server.rs
  tests/sanity_suite.rs
Due: rust, Rust Core

Path conditions:
  rust: any of: src/rust/, but not: tests/, examples/, docs/, scripts/, target/, .cargo/, .julia/
  julia: any of: src/julia/, but not: tests/, examples/, docs/, scripts/, target/, .cargo/, .julia/
  rescript: any of: src/rescript/, but not: tests/, examples/, docs/, scripts/, target/, .cargo/, .julia/
  Rust Core: any of: src/rust/, but not: tests/, examples/, docs/, scripts/, target/, .cargo/, .julia/
  Julia ML: any of: src/julia/, but not: tests/, examples/, docs/, scripts/, target/, .cargo/, .julia/
  ReScript UI: any of: src/rescript/, but not: tests/, examples/, docs/, scripts/, target/, .cargo/, .julia/
