Repository Hyperpolymath/echidna: changes, and which Codecov flags are due for each by the changed paths.
All: rust, julia, rescript, Rust Core, Julia ML, ReScript UI

feat(extract): F* — walk HACL* (LowStar crypto corpus)
  scripts/extract_fstar.jl
  training_data/proof_states_fstar.jsonl
Due: none

feat(extract): add Rocq to Coq-family walk (108K → 112K)
  scripts/extract_coqgym.jl
Due: none

fix(extract): SMT-LIB per-file size gate + try/catch
  scripts/extract_smtlib.jl
Due: none

refactor(core): resolve all 14 TODOs across aspect/agent/server/integration
  src/rust/agent/actors.rs
  src/rust/agent/mod.rs
  src/rust/agent/planner.rs
  src/rust/agent/router.rs
  src/rust/aspect.rs
  src/rust/integration.rs
  src/rust/server.rs
Due: rust, Rust Core

feat(outcome): re-land ProverOutcome taxonomy + restore sanity_suite
  src/rust/dispatch.rs
  src/rust/provers/mod.rs
  src/rust/provers/outcome.rs
  src/rust/provers/z3.rs
  tests/aspect_tests.rs
  tests/concurrency_test.rs
  tests/e2e_proof_pipeline.rs
  tests/e2e_prover_test.rs
  tests/sanity_suite.rs
  tests/security_aspect_tests.rs
Due: rust, Rust Core

fix(cvc5): handle declare-fun nullary + stop greedy trim-end of assert
  src/rust/provers/cvc5.rs
Due: rust, Rust Core

docs: refresh README/CLAUDE/EXPLAINME + STATE close-out
  .machine_readable/6a2/STATE.a2ml
  CLAUDE.md
  EXPLAINME.adoc
  README.adoc
Due: none

chore(state): record downstream landings — outcome taxonomy + CVC5 fix
  .machine_readable/6a2/STATE.a2ml
Due: none

chore(ci): fix workflow references + stale action SHAs + dependabot crates
  .github/workflows/hypatia-scan.yml
  .github/workflows/scorecard.yml
  .github/workflows/security-scan.yml
  Cargo.lock
Due: none

chore(state): record CI hygiene close (0e46943) — code-side failures + 6 dependabot alerts resolved
  .machine_readable/6a2/STATE.a2ml
Due: none

chore(state): record CI hygiene close (e62bf25) — code-side failures + 6 dependabot alerts resolved
  .machine_readable/6a2/STATE.a2ml
Due: none

Standardize workspace: Justfile migration and A2ML directive cleanup
  echidnabot/flake.lock
  flake.lock
Due: none

Standardize workspace: Capitalize Justfile references in scripts and docs
  echidna-playground/CONTRIBUTING.md
  echidna-playground/RSR_OUTLINE.adoc
  echidnabot/README.adoc
  echidnabot/RELEASE_CHECKLIST.md
  echidnabot/RSR_COMPLIANCE.adoc
  echidnabot/docs/ARCHITECTURE.adoc
Due: none

chore(contractiles): remove lust (not in 6-verb set: intend trust must bust adjust dust)
  echidna-playground/contractiles/lust/Intentfile
Due: none

chore: checkpoint local changes
  src/rust/vcl_ut.rs
  src/rust/verisim_bridge.rs
Due: rust, Rust Core

fix(verisim): resolve 22 cargo check errors on --features verisim
  src/rust/agent/memory.rs
Due: rust, Rust Core

fix(ml-training): accept JSONL whitespace after colon in regex parser
  src/julia/train_models.jl
Due: julia, Julia ML

Standardize workspace: Justfile migration and A2ML directive cleanup
  models/model_metadata.txt
  models/premise_vocab.txt
  models/training_stats.txt
Due: none

fix(ml-training): SimpleLogger + async flusher for background runs
  src/julia/train_models.jl
Due: julia, Julia ML

feat(ml-training): parameterise epochs + models dir via env vars
  src/julia/train_models.jl
Due: julia, Julia ML

Path conditions:
  rust: any of: src/rust/, but not: tests/, examples/, docs/, scripts/, target/, .cargo/, .julia/
  julia: any of: src/julia/, but not: tests/, examples/, docs/, scripts/, target/, .cargo/, .julia/
  rescript: any of: src/rescript/, but not: tests/, examples/, docs/, scripts/, target/, .cargo/, .julia/
  Rust Core: any of: src/rust/, but not: tests/, examples/, docs/, scripts/, target/, .cargo/, .julia/
  Julia ML: any of: src/julia/, but not: tests/, examples/, docs/, scripts/, target/, .cargo/, .julia/
  ReScript UI: any of: src/rescript/, but not: tests/, examples/, docs/, scripts/, target/, .cargo/, .julia/
