Repository Hyperpolymath/echidna: changes, and which Codecov flags are due for each by the changed paths.
All: rust, julia, rescript, Rust Core, Julia ML, ReScript UI

codecov.yml:

# SPDX-License-Identifier: PMPL-1.0-or-later
# SPDX-FileCopyrightText: 2024-2025 ECHIDNA Project Contributors
#
# Codecov configuration for ECHIDNA

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_ci_failed: error

    patch:
      default:
        target: 70%
        threshold: 5%

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

ignore:
  - "tests/"
  - "examples/"
  - "docs/"
  - "scripts/"
  - "target/"
  - ".cargo/"
  - ".julia/"

flags:
  rust:
    paths:
      - src/rust/
    carryforward: true

  julia:
    paths:
      - src/julia/
    carryforward: true

  rescript:
    paths:
      - src/rescript/
    carryforward: true

# Component coverage
component_management:
  individual_components:
    - component_id: rust_core
      name: Rust Core
      paths:
        - src/rust/

    - component_id: julia_ml
      name: Julia ML
      paths:
        - src/julia/

    - component_id: rescript_ui
      name: ReScript UI
      paths:
        - src/rescript/

fix(hypatia): clear 6 new PR-198 unwrap/expect findings at source
  src/rust/corpus/isabelle.rs
  src/rust/corpus/mizar.rs
  src/rust/exchange/smtlib.rs
  src/rust/exchange/tptp.rs
  src/rust/verisim_bridge.rs
Due: rust, Rust Core

ci(wave3): clear wave3 branch CI/CD fixes (C001-C005) (#206)
  .github/copilot/coding-agent.yml
  echidna-playground/.github/workflows/codeql.yml
  echidna-playground/.github/workflows/governance.yml
Due: none

feat(training): wire CorpusLoader + SaturationSynonyms into GNN training pipeline
  Justfile
  src/julia/run_training.jl
  src/julia/training/train.jl
  tests/julia_corpus_loader_smoke.jl
Due: julia, Julia ML

feat(training): wire CorpusLoader + SaturationSynonyms into GNN training pipeline (#207)
  Justfile
  src/julia/run_training.jl
  src/julia/training/train.jl
  tests/julia_corpus_loader_smoke.jl
Due: julia, Julia ML

ci(chapel): pin runs-on ubuntu-22.04 + apt-get install .deb (5th sharp edge)
  .github/workflows/chapel-ci.yml
Due: none

ci(chapel): bump Chapel toolchain 2.3.0 → 2.8.0 (closes #181) (#183)
  .github/workflows/chapel-ci.yml
  src/chapel/chapel_ffi_exports.chpl
Due: none

docs(changelog): record Chapel 2.8.0 ubuntu-22.04 runs-on pin (#183)
  CHANGELOG.md
Due: none

docs(changelog): record Chapel 2.8.0 ubuntu-22.04 runs-on pin (#183) (#208)
  CHANGELOG.md
Due: none

docs(contributing): restore Palimpsest framework reference
  CONTRIBUTING.adoc
Due: none

docs(contributing): restore Palimpsest framework reference (#209)
  CONTRIBUTING.adoc
Due: none

fix(julia): add JSON dep — corpus_loader.jl uses JSON.parse
  src/julia/Manifest.toml
  src/julia/Project.toml
Due: julia, Julia ML

fix(julia): add JSON dep — corpus_loader.jl uses JSON.parse (#210)
  src/julia/Manifest.toml
  src/julia/Project.toml
Due: julia, Julia ML

fix(deps): adapt to rand 0.10 split Rng/RngExt trait
  src/rust/agent/swarm.rs
  src/rust/learning/design_search.rs
Due: rust, Rust Core

chore(training): EchidnaML CUDA logging fix + per-stage run doc
  docs/training-runs/2026-06-02.md
  src/julia/EchidnaML.jl
Due: julia, Julia ML

chore(training): EchidnaML CUDA logging fix + 2026-06-02 run doc (#211)
  docs/training-runs/2026-06-02.md
  src/julia/EchidnaML.jl
Due: julia, Julia ML

docs(training-run): record 2026-06-02 first-GNN-run results
  docs/training-runs/2026-06-02.md
Due: none

docs(training-run): record 2026-06-02 first-GNN-run results (MRR 0.92) (#212)
  docs/training-runs/2026-06-02.md
Due: none

ci(codeql): cron weekly→monthly (cut 3, standards#288)
  .github/workflows/codeql.yml
Due: none

ci(codeql): cron weekly→monthly (cut 3, standards#288) (#213)
  .github/workflows/codeql.yml
Due: none

feat(contractiles): comprehensive just|must|adjust|trust|bust|dust family for echidna
  .machine_readable/contractiles/adjust/Adjustfile.a2ml
  .machine_readable/contractiles/bust/Bustfile.a2ml
  .machine_readable/contractiles/dust/Dustfile.a2ml
  .machine_readable/contractiles/trust/Trustfile.a2ml
  contractile.just
Due: none

feat(contractiles): comprehensive just|must|adjust|trust|bust|dust family with error codes + recovery hints (#214)
  .machine_readable/contractiles/adjust/Adjustfile.a2ml
  .machine_readable/contractiles/bust/Bustfile.a2ml
  .machine_readable/contractiles/dust/Dustfile.a2ml
  .machine_readable/contractiles/trust/Trustfile.a2ml
  contractile.just
Due: none

chore(6a2): refresh STATE.a2ml — v2.3.0 + 2026-06-02 wave snapshot
  .machine_readable/6a2/STATE.a2ml
Due: none

chore(6a2): refresh STATE.a2ml — v2.3.0 + 2026-06-02 wave snapshot (#215)
  .machine_readable/6a2/STATE.a2ml
Due: none

docs(architecture): cross-repo proof DAG design (closes C14 estate blocker)
  docs/architecture/CROSS-REPO-PROOF-DAG.md
Due: none

docs(handover): correct B7 audit claim + add HP smoke fixtures + onboarding doc
  docs/HP-BACKEND-ONBOARDING.md
  docs/handover/B7-AUDIT-CORRECTION.md
  tests/fixtures/hp/echo_trivial.tll
  tests/fixtures/hp/katagoria_trivial.k
  tests/fixtures/hp/tropical_trivial.tll
Due: none

fix(verification): import Data.Nat for LTE in Idris2 trust proofs
  verification/proofs/idris2/AxiomPolicyOrdering.idr
  verification/proofs/idris2/TrustLevelSoundness.idr
Due: none

fix(abi): make Idris2 ABI package type-check
  src/abi/EchidnaABI/AxiomTracker.idr
  src/abi/EchidnaABI/Foreign.idr
  src/abi/EchidnaABI/Gnn.idr
Due: none

fix(meta-checker): make Agda trust-pipeline proofs type-check
  meta-checker/src/Echidna/AxiomSafety.agda
  meta-checker/src/Echidna/Dispatch.agda
  meta-checker/src/Echidna/TrustLevel.agda
Due: none

fix(verification): harden Idris2 trust-ordering proofs with lteLit
  verification/proofs/idris2/ClampTrustBounds.idr
  verification/proofs/idris2/NatLte.idr
  verification/proofs/idris2/TrustKernelMonotonicity.idr
Due: none

fix(provers): migrate parsers to the nom 8 API
  src/rust/provers/agda.rs
  src/rust/provers/idris2.rs
  src/rust/provers/lean.rs
Due: rust, Rust Core

fix(governance): exempt fstar.rs hazard detector + test fixtures from trusted-base scan
  .trusted-base-ignore
Due: none

fix(proofs): make the formal-verification layer actually type-check (#220)
  .trusted-base-ignore
  meta-checker/src/Echidna/AxiomSafety.agda
  meta-checker/src/Echidna/Dispatch.agda
  meta-checker/src/Echidna/TrustLevel.agda
  src/abi/EchidnaABI/AxiomTracker.idr
  src/abi/EchidnaABI/Foreign.idr
  src/abi/EchidnaABI/Gnn.idr
  src/rust/provers/agda.rs
  src/rust/provers/idris2.rs
  src/rust/provers/lean.rs
  verification/proofs/idris2/AxiomPolicyOrdering.idr
  verification/proofs/idris2/ClampTrustBounds.idr
  verification/proofs/idris2/NatLte.idr
  verification/proofs/idris2/TrustKernelMonotonicity.idr
  verification/proofs/idris2/TrustLevelSoundness.idr
Due: rust, Rust Core

docs(handover): correct B7 audit claim + add HP smoke fixtures + onboarding (closes B7) (#218)
  docs/HP-BACKEND-ONBOARDING.md
  docs/architecture/CROSS-REPO-PROOF-DAG.md
  docs/handover/B7-AUDIT-CORRECTION.md
  tests/fixtures/hp/echo_trivial.tll
  tests/fixtures/hp/katagoria_trivial.k
  tests/fixtures/hp/tropical_trivial.tll
Due: none

fix(ci): add missing timeout-minutes to all workflow jobs
  .github/workflows/agda-meta-checker.yml
  .github/workflows/boj-build.yml
  .github/workflows/cargo-audit.yml
  .github/workflows/cflite_batch.yml
  .github/workflows/cflite_pr.yml
  .github/workflows/chapel-ci.yml
  .github/workflows/codeql.yml
  .github/workflows/container-ci.yml
  .github/workflows/dogfood-gate.yml
  .github/workflows/formal-verification.yml
  .github/workflows/generator-generic-ossf-slsa3-publish.yml
  .github/workflows/ghcr-publish.yml
  .github/workflows/governance.yml
  .github/workflows/hypatia-scan.yml
  .github/workflows/idris2-abi-ci.yml
  .github/workflows/instant-sync.yml
  .github/workflows/live-provers.yml
  .github/workflows/mirror.yml
  .github/workflows/mvp-smoke.yml
  .github/workflows/rust-ci.yml
  .github/workflows/scorecard-enforcer.yml
  .github/workflows/scorecard.yml
  .github/workflows/secret-scanner.yml
  .github/workflows/security-scan.yml
  .github/workflows/spark-theatre-gate.yml
  .github/workflows/workflow-linter.yml
Due: none

chore(deps): bump axum from 0.7.9 to 0.8.9
  Cargo.lock
  Cargo.toml
Due: none

chore(deps): bump criterion from 0.5.1 to 0.8.2
  Cargo.lock
  Cargo.toml
Due: none

chore(deps): bump nom from 7.1.3 to 8.0.0
  Cargo.lock
  Cargo.toml
Due: none

chore(deps): bump rand from 0.9.4 to 0.10.1
  Cargo.lock
  Cargo.toml
Due: none
