Repository Hyperpolymath/echidna: changes, and which Codecov flags are due for each by the changed paths.
All: rust, julia, rescript, Rust Core, Julia ML, ReScript UI

codecov.yml:

# SPDX-License-Identifier: PMPL-1.0-or-later
# SPDX-FileCopyrightText: 2024-2025 ECHIDNA Project Contributors
#
# Codecov configuration for ECHIDNA

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_ci_failed: error

    patch:
      default:
        target: 70%
        threshold: 5%

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

ignore:
  - "tests/"
  - "examples/"
  - "docs/"
  - "scripts/"
  - "target/"
  - ".cargo/"
  - ".julia/"

flags:
  rust:
    paths:
      - src/rust/
    carryforward: true

  julia:
    paths:
      - src/julia/
    carryforward: true

  rescript:
    paths:
      - src/rescript/
    carryforward: true

# Component coverage
component_management:
  individual_components:
    - component_id: rust_core
      name: Rust Core
      paths:
        - src/rust/

    - component_id: julia_ml
      name: Julia ML
      paths:
        - src/julia/

    - component_id: rescript_ui
      name: ReScript UI
      paths:
        - src/rescript/

feat: Chapel 30-prover real dispatch, Idris2 CI, E2E smoke tests, container CI
  .github/workflows/chapel-ci.yml
  .github/workflows/container-ci.yml
  .github/workflows/idris2-abi-ci.yml
  chapel_poc/chapel_ffi_exports.chpl
  chapel_poc/parallel_proof_search.chpl
  src/abi/echidnaabi.ipkg
  src/rust/proof_search.rs
  src/zig_ffi/chapel_bridge.zig
  src/zig_ffi/chapel_ffi_exports.h
  src/zig_ffi/chapel_stubs.c
  tests/smoke_e2e.rs
Due: rust, Rust Core

chore: eliminate all compiler warnings (0 warnings, 248 tests pass)
  .gitignore
  src/rust/agent/actors.rs
  src/rust/agent/explanations.rs
  src/rust/agent/mod.rs
  src/rust/agent/planner.rs
  src/rust/agent/router.rs
  src/rust/anomaly_detection.rs
  src/rust/aspect.rs
  src/rust/dispatch.rs
  src/rust/executor/sandbox.rs
  src/rust/ffi/mod.rs
  src/rust/integrity/solver_integrity.rs
  src/rust/llm.rs
  src/rust/main.rs
  src/rust/neural.rs
  src/rust/proof_search.rs
  src/rust/provers/acl2.rs
  src/rust/provers/agda.rs
  src/rust/provers/altergo.rs
  src/rust/provers/cvc5.rs
  src/rust/provers/eprover.rs
  src/rust/provers/hol4.rs
  src/rust/provers/hol_light.rs
  src/rust/provers/idris2.rs
  src/rust/provers/isabelle.rs
  src/rust/provers/mizar.rs
  src/rust/provers/mod.rs
  src/rust/provers/pvs.rs
  src/rust/provers/spass.rs
  src/rust/provers/vampire.rs
  src/rust/provers/z3.rs
  src/rust/server.rs
  src/rust/verification/axiom_tracker.rs
  src/rust/verification/certificates.rs
  src/rust/verification/mutation.rs
  src/rust/verification/portfolio.rs
  src/rust/vql_ut.rs
Due: rust, Rust Core

chore(deps): update dependencies (fix rustls-webpki CVE)
  Cargo.lock
Due: none

fix: Idris2 ABI type-checks clean, ProverFactory auto-resolves executables
  src/abi/EchidnaABI/Provers/AutoActive.idr
  src/abi/EchidnaABI/Provers/ConstraintSolvers.idr
  src/abi/EchidnaABI/Provers/FirstOrderAtp.idr
  src/abi/EchidnaABI/VqlUt.idr
  src/rust/provers/mod.rs
Due: rust, Rust Core

fix(container): remove separate cargo package (included in rust on wolfi)
  Containerfile
Due: none

fix(container): remove standalone tar package (bundled in wolfi base)
  Containerfile
Due: none

fix(container): skip Idris2 in minimal image (no prebuilt binaries)
  Containerfile
Due: none

fix(container): install Z3 from official release, simplify to 3 stages
  Containerfile
Due: none

feat(ml): wire Julia ML pipeline — data loading, training, and serving
  src/julia/EchidnaML.jl
  src/julia/Project.toml
  src/julia/api/server.jl
  src/julia/inference/predict.jl
  src/julia/models/encoder.jl
  src/julia/models/neural_solver.jl
  src/julia/run_server.jl
  src/julia/run_training.jl
  src/julia/training/dataloader.jl
  src/julia/training/train.jl
Due: julia, Julia ML

chore(ml): fix Julia dep UUIDs, add Manifest.toml
  src/julia/Manifest.toml
  src/julia/Project.toml
Due: julia, Julia ML

fix(ml): resolve all Julia module loading issues
  src/julia/EchidnaML.jl
  src/julia/api/server.jl
  src/julia/inference/predict.jl
  src/julia/models/encoder.jl
  src/julia/models/neural_solver.jl
Due: julia, Julia ML

fix(ml): make training loop Zygote-differentiable and run
  src/julia/models/encoder.jl
  src/julia/models/neural_solver.jl
  src/julia/run_training.jl
  src/julia/training/train.jl
Due: julia, Julia ML

feat(ml): training complete — MRR 0.66, Precision@10 0.30, Recall@10 0.59
  .gitignore
Due: none

Add arXiv-style paper: Neurosymbolic Theorem Proving
  arcvix-neurosymbolic-theorem-proving.tex
Due: none

chore: batch RSR compliance — SPDX headers, SHA-pin actions, forbid(unsafe_code), CODE_OF_CONDUCT, CONTRIBUTING
  .github/workflows/generator-generic-ossf-slsa3-publish.yml
  scripts/ban-npm.sh
Due: none

docs: add EXPLAINME.adoc — prove-it file backing README claims
  EXPLAINME.adoc
Due: none

test: implement 6 agentic integration tests, fix TypedWasm match exhaustiveness
  src/rust/agent/mod.rs
  src/rust/agent/router.rs
  tests/agentic_integration.rs
  tests/common/mod.rs
  tests/smoke_e2e.rs
Due: rust, Rust Core

Add typed-wasm prover backend + property test regressions
  src/rust/agent/explanations.rs
  src/rust/main.rs
  src/rust/provers/mod.rs
  src/rust/provers/typed_wasm.rs
  tests/typed_wasm_properties.proptest-regressions
  tests/typed_wasm_properties.rs
Due: rust, Rust Core

chore: add Julia project env for test server, install Vampire 5.0.1
  .julia-env/Manifest.toml
  .julia-env/Project.toml
Due: none

fix(pvs): fix PVSCaseSelection field mismatch in CASES parser
  src/rust/provers/pvs.rs
Due: rust, Rust Core

feat(provers): add 6 SAT/model-checker backends (NuSMV, TLC, Alloy, Prism, UPPAAL, MiniSat)
  src/rust/agent/explanations.rs
  src/rust/main.rs
  src/rust/provers/alloy.rs
  src/rust/provers/cadical.rs
  src/rust/provers/cbmc.rs
  src/rust/provers/hol4.rs
  src/rust/provers/kissat.rs
  src/rust/provers/minisat.rs
  src/rust/provers/mod.rs
  src/rust/provers/nusmv.rs
  src/rust/provers/prism.rs
  src/rust/provers/spin_checker.rs
  src/rust/provers/tlc.rs
  src/rust/provers/uppaal.rs
Due: rust, Rust Core
