Repository Hyperpolymath/echidna: changes, and which Codecov flags are due for each by the changed paths.
All: rust, julia, rescript, Rust Core, Julia ML, ReScript UI

codecov.yml:

# SPDX-License-Identifier: PMPL-1.0-or-later
# SPDX-FileCopyrightText: 2024-2025 ECHIDNA Project Contributors
#
# Codecov configuration for ECHIDNA

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_ci_failed: error

    patch:
      default:
        target: 70%
        threshold: 5%

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

ignore:
  - "tests/"
  - "examples/"
  - "docs/"
  - "scripts/"
  - "target/"
  - ".cargo/"
  - ".julia/"

flags:
  rust:
    paths:
      - src/rust/
    carryforward: true

  julia:
    paths:
      - src/julia/
    carryforward: true

  rescript:
    paths:
      - src/rescript/
    carryforward: true

# Component coverage
component_management:
  individual_components:
    - component_id: rust_core
      name: Rust Core
      paths:
        - src/rust/

    - component_id: julia_ml
      name: Julia ML
      paths:
        - src/julia/

    - component_id: rescript_ui
      name: ReScript UI
      paths:
        - src/rescript/

feat(capnp-l1.0): add echidna-wire crate with 7 Cap'n Proto schemas
  Cargo.lock
  Cargo.toml
  crates/echidna-wire/Cargo.toml
  crates/echidna-wire/build.rs
  crates/echidna-wire/schemas/VERSIONING.md
  crates/echidna-wire/schemas/common.capnp
  crates/echidna-wire/schemas/gnn.capnp
  crates/echidna-wire/schemas/proof.capnp
  crates/echidna-wire/schemas/prover.capnp
  crates/echidna-wire/src/lib.rs
Due: none

feat(mcp): add echidna-mcp server so AI agents can call ECHIDNA as a tool
  Cargo.lock
  Cargo.toml
  crates/echidna-mcp/Cargo.toml
  crates/echidna-mcp/src/main.rs
  docs/handover/TODO.md
Due: none

security(deps): bump capnp 0.20 -> 0.25 (RUSTSEC-2025-0143)
  Cargo.lock
  crates/echidna-wire/Cargo.toml
Due: none

Claude/echidna mcp (#32)
  Cargo.lock
  Cargo.toml
  crates/echidna-mcp/Cargo.toml
  crates/echidna-mcp/src/main.rs
  crates/echidna-wire/Cargo.toml
  docs/handover/TODO.md
Due: none

fix(provers): stop verify_proof from round-tripping through lossy IR
  src/rust/provers/agda.rs
  src/rust/provers/coq.rs
  src/rust/provers/cvc5.rs
  src/rust/provers/metamath.rs
  src/rust/provers/spass.rs
  src/rust/provers/z3.rs
Due: rust, Rust Core

fix(provers): PVS/HOL4 stop reporting fake success
  src/rust/provers/hol4.rs
  src/rust/provers/pvs.rs
Due: rust, Rust Core

feat(container): add Containerfile.mcp — agent-callable ECHIDNA MVP
  .containerization/Containerfile.mcp
Due: none

fix(provers): apply source_path/content pattern to 5 more backends
  src/rust/provers/abc.rs
  src/rust/provers/acl2.rs
  src/rust/provers/altergo.rs
  src/rust/provers/eprover.rs
  src/rust/provers/vampire.rs
Due: rust, Rust Core

Claude/echidna mcp (#33)
  .containerization/Containerfile.mcp
  src/rust/provers/abc.rs
  src/rust/provers/acl2.rs
  src/rust/provers/agda.rs
  src/rust/provers/altergo.rs
  src/rust/provers/coq.rs
  src/rust/provers/cvc5.rs
  src/rust/provers/eprover.rs
  src/rust/provers/hol4.rs
  src/rust/provers/metamath.rs
  src/rust/provers/pvs.rs
  src/rust/provers/spass.rs
  src/rust/provers/vampire.rs
  src/rust/provers/z3.rs
Due: rust, Rust Core

fix(provers): extend source_path pattern to 32 remaining lossy backends
  src/rust/provers/alloy.rs
  src/rust/provers/cbmc.rs
  src/rust/provers/chuffed.rs
  src/rust/provers/dafny.rs
  src/rust/provers/dreal.rs
  src/rust/provers/framac.rs
  src/rust/provers/fstar.rs
  src/rust/provers/glpk.rs
  src/rust/provers/hol_light.rs
  src/rust/provers/idris2.rs
  src/rust/provers/imandra.rs
  src/rust/provers/isabelle.rs
  src/rust/provers/key.rs
  src/rust/provers/lean.rs
  src/rust/provers/minizinc.rs
  src/rust/provers/minlog.rs
  src/rust/provers/mizar.rs
  src/rust/provers/nuprl.rs
  src/rust/provers/nusmv.rs
  src/rust/provers/ortools.rs
  src/rust/provers/prism.rs
  src/rust/provers/proverif.rs
  src/rust/provers/scip.rs
  src/rust/provers/seahorn.rs
  src/rust/provers/spin_checker.rs
  src/rust/provers/tamarin.rs
  src/rust/provers/tlaps.rs
  src/rust/provers/tlc.rs
  src/rust/provers/twelf.rs
  src/rust/provers/uppaal.rs
  src/rust/provers/viper.rs
  src/rust/provers/why3.rs
Due: rust, Rust Core

Claude/echidna mcp (#34)
  src/rust/provers/alloy.rs
  src/rust/provers/cbmc.rs
  src/rust/provers/chuffed.rs
  src/rust/provers/dafny.rs
  src/rust/provers/dreal.rs
  src/rust/provers/framac.rs
  src/rust/provers/fstar.rs
  src/rust/provers/glpk.rs
  src/rust/provers/hol_light.rs
  src/rust/provers/idris2.rs
  src/rust/provers/imandra.rs
  src/rust/provers/isabelle.rs
  src/rust/provers/key.rs
  src/rust/provers/lean.rs
  src/rust/provers/minizinc.rs
  src/rust/provers/minlog.rs
  src/rust/provers/mizar.rs
  src/rust/provers/nuprl.rs
  src/rust/provers/nusmv.rs
  src/rust/provers/ortools.rs
  src/rust/provers/prism.rs
  src/rust/provers/proverif.rs
  src/rust/provers/scip.rs
  src/rust/provers/seahorn.rs
  src/rust/provers/spin_checker.rs
  src/rust/provers/tamarin.rs
  src/rust/provers/tlaps.rs
  src/rust/provers/tlc.rs
  src/rust/provers/twelf.rs
  src/rust/provers/uppaal.rs
  src/rust/provers/viper.rs
  src/rust/provers/why3.rs
Due: rust, Rust Core

fix(grpc)+security+test: resuscitate echidna-grpc, bump tonic, add live-prover roundtrip suite
  Cargo.lock
  src/interfaces/grpc/Cargo.toml
  src/interfaces/grpc/build.rs
  src/interfaces/grpc/ffi_wrapper.rs
  src/interfaces/grpc/main.rs
  tests/live_goals/.gitignore
  tests/live_goals/Broken.agda
  tests/live_goals/Identity.agda
  tests/live_goals/broken.v
  tests/live_goals/contradiction.smt2
  tests/live_goals/identity.v
  tests/live_goals/tautology.smt2
  tests/live_goals/trivial.dfg
  tests/live_goals/trivial.mm
  tests/live_prover_verify.rs
Due: none

chore(settings): pin git-restore + live_goals rm permissions
  .claude/settings.local.json
Due: none

fix(tests): add missing type_info field and remove stale NeuralTagger import
  crates/echidna-mcp/README.md
  examples/aspect_tagging_demo.rs
  tests/common/generators.rs
  tests/common/mod.rs
  tests/sanity_suite.rs
Due: none

feat(echidna-mcp): add check_prover and list_provers tools
  crates/echidna-mcp/src/main.rs
Due: none

docs(echidna-mcp): add README with usage, tool reference, examples
  crates/echidna-mcp/README.md
Due: none

docs(er): add canonical ER.a2ml covering 22 entities and 39 relationships
  .machine_readable/ER.a2ml
Due: none

chore: template conformance — add ANCHOR.a2ml, contractiles (adjust/bust), _base.ncl, INDEX.a2ml, just init recipe
  .machine_readable/6a2/ANCHOR.a2ml
  .machine_readable/contractiles/INDEX.a2ml
  .machine_readable/contractiles/_base.ncl
  .machine_readable/contractiles/adjust/Adjustfile.a2ml
  .machine_readable/contractiles/adjust/adjust.k9.ncl
  .machine_readable/contractiles/adjust/adjust.manifest.a2ml
  .machine_readable/contractiles/adjust/adjust.ncl
  .machine_readable/contractiles/bust/Bustfile.a2ml
  .machine_readable/contractiles/bust/bust.k9.ncl
  .machine_readable/contractiles/bust/bust.manifest.a2ml
  .machine_readable/contractiles/bust/bust.ncl
  Justfile
Due: none

feat: add 8 new prover backends (CubicalAgda, Zipperposition, Prover9, OpenSMT, SmtRat, Rocq, UppaalStratego, MizAR)
  src/rust/provers/cubical_agda.rs
  src/rust/provers/mizar_ar.rs
  src/rust/provers/opensmt.rs
  src/rust/provers/prover9.rs
  src/rust/provers/rocq.rs
  src/rust/provers/smtrat.rs
  src/rust/provers/uppaal_stratego.rs
  src/rust/provers/zipperposition.rs
Due: rust, Rust Core

feat(spark): introduce SPARK/Ada axiom-policy enforcement layer
  Cargo.toml
  Justfile
  build.rs
  src/abi/EchidnaABI/AxiomTracker.idr
  src/ada/spark/axiom_c_bridge.adb
  src/ada/spark/axiom_c_bridge.ads
  src/ada/spark/axiom_policy.adb
  src/ada/spark/axiom_policy.ads
  src/ada/spark/axiom_types.ads
  src/ada/spark/echidna_spark.gpr
  src/rust/ffi/mod.rs
  src/rust/ffi/spark_axiom.rs
  src/rust/verification/axiom_tracker.rs
  src/zig/build.zig
  src/zig/ffi/axiom_spark_bridge.zig
Due: rust, Rust Core

feat(dispatch): wire ChapelParallelSearch into ProverDispatcher (L2.1)
  src/rust/dispatch.rs
Due: rust, Rust Core

ci(chapel): include src/rust/dispatch.rs in path filter
  .github/workflows/chapel-ci.yml
Due: none

fix(extract_mathlib4): unwrap double-Regex in premise match
  scripts/extract_mathlib4.jl
Due: none

feat(provers): wire 8 new backends into mod.rs + fix unused-param warnings
  Cargo.lock
  Cargo.toml
  crates/echidna-core/Cargo.toml
  crates/echidna-core/src/core.rs
  crates/echidna-core/src/lib.rs
  crates/echidna-core/src/types.rs
  src/rust/lib.rs
  src/rust/provers/cubical_agda.rs
  src/rust/provers/mizar_ar.rs
  src/rust/provers/mod.rs
  src/rust/provers/opensmt.rs
  src/rust/provers/prover9.rs
  src/rust/provers/rocq.rs
  src/rust/provers/smtrat.rs
  src/rust/provers/uppaal_stratego.rs
  src/rust/provers/zipperposition.rs
Due: rust, Rust Core

ci(chapel): fix pre-existing path + Zig action drift
  .github/workflows/chapel-ci.yml
Due: none

fix(extractors): UTF-8 byte indexing + empty-captures guards
  scripts/extract_hol4.jl
  scripts/extract_mathlib4.jl
Due: none

feat(abi): register AxiomTracker + Gnn in ipkg; fix Idris2 proofs
  src/abi/EchidnaABI/AxiomTracker.idr
  src/abi/echidnaabi.ipkg
Due: none

feat(julia-server): wire /gnn/rank to the trained solver
  src/julia/EchidnaML.jl
  src/julia/api/server.jl
Due: julia, Julia ML

fix(security): panic-attack P10 — MEDIUM fixes (HTTPS, mktemp, JSON 400, safe array)
  balance_smtlib_optimized.sh
  echidna-playground/src/Components.res
  echidna-playground/src/Page.res
  scripts/extract_nusmv.jl
  scripts/extract_spin.jl
  scripts/provision_corpora.sh
  src/julia/api/server.jl
  src/provers/clients/LeanTool.res
  src/provers/runners/Daemon.res
Due: julia, Julia ML

feat(executor): add bounded_command_output to cap prover stdout/stderr
  src/rust/executor/bounded.rs
  src/rust/executor/mod.rs
Due: rust, Rust Core

fix(justfile): use shell vars \$OWNER/\$REPO in init echo (not just {{}} syntax)
  Justfile
Due: none

perf(dataloader): rejection-sample negatives instead of setdiff per proof
  src/julia/training/dataloader.jl
Due: julia, Julia ML

test(julia): smoke test for /gnn/rank (verifies trained-model path)
  tests/julia/gnn_rank_smoke.jl
Due: none

docs(state): close Package 5 — corpus >100k + /gnn/rank wired (no cosine fallback)
  .machine_readable/6a2/STATE.a2ml
Due: none

docs(echidnabot/agentic): record BoJ-only-MCP exception carve-out
  echidnabot/.machine_readable/6a2/AGENTIC.a2ml
Due: none

feat(provers): add provers.a2ml catalogue + gen-provers-a2ml.sh generator
  .machine_readable/provers.a2ml
  scripts/gen-provers-a2ml.sh
Due: none

chore(state): record Package 4 close-out session (vcl-ut ↔ echidna binding)
  .machine_readable/6a2/STATE.a2ml
Due: none

test(ffi): update kind_from_u8 out-of-range boundary 105→113
  src/rust/ffi/mod.rs
Due: rust, Rust Core

feat(rest): /proofs/{id}/export + /exchange/import — OpenTheory + Dedukti (Pkg 4 step 6)
  src/interfaces/rest/handlers.rs
  src/interfaces/rest/main.rs
  src/interfaces/rest/models.rs
Due: none
