Repository Hyperpolymath/echidna: changes, and which Codecov flags are due for each by the changed paths.
All: rust, julia, rescript, Rust Core, Julia ML, ReScript UI

fix(ml-training): actually update logistic weights (was no-op)
  src/julia/train_models.jl
Due: julia, Julia ML

feat(ci): L3 Wave-1 — live-prover CI scaffold (Guix-first, Nix fallback)
  .github/workflows/live-provers.yml
  .machine_readable/6a2/STATE.a2ml
  Cargo.toml
  flake.nix
  manifests/live-provers.scm
  tests/live_prover_suite.rs
Due: none

fix(chapel-ffi): bundle stubs in Zig lib so --features chapel links standalone
  .machine_readable/6a2/STATE.a2ml
  src/rust/proof_search.rs
  src/zig_ffi/build.zig
Due: rust, Rust Core

docs(chapel-ffi): document self-linking build + ignore regenerable outputs
  .gitignore
  QUICKSTART-DEV.adoc
  chapel_poc/README.md
Due: none

feat(ci): L3 Wave-2 — wire idris2/isabelle/dafny/fstar/tlaps + fstar+tlaps tests
  .github/workflows/live-provers.yml
  tests/live_prover_suite.rs
Due: none

docs(state): record L3 Wave-2 landing + Wave-3 handover hints
  .machine_readable/6a2/STATE.a2ml
Due: none

docs(handover): mirror ~/Desktop/ECHIDNA-*.md into docs/handover/
  docs/handover/L1-CAPNPROTO-PROMPT.md
  docs/handover/L2-CHAPEL-PROMPT.md
  docs/handover/L3-LIVE-PROVER-CI-PROMPT.md
  docs/handover/PRODUCTION-WIRING-PLAN.md
  docs/handover/README.md
Due: none

docs(handover): synthesis — tight TODO + STATE for L1/L2/L3
  docs/handover/README.md
  docs/handover/STATE.md
  docs/handover/TODO.md
Due: none

feat(ci,ml): Tier-3 live-prover provisioning + uncap Flux training
  .github/workflows/live-provers.yml
  src/julia/run_training.jl
  tests/live_prover_suite.rs
Due: julia, Julia ML

feat(corpus): non-interactive upstream provisioning + extractor driver
  scripts/extract_all.sh
  scripts/provision_corpora.sh
Due: none

feat(just): corpus-refresh pipeline — provision → extract → retrain
  Justfile
Due: none

Add Tier 3 weekly CI for upstream provers and corpus provisioning (#19)
  .github/workflows/live-provers.yml
  Justfile
  scripts/extract_all.sh
  scripts/provision_corpora.sh
  src/julia/run_training.jl
  tests/live_prover_suite.rs
Due: julia, Julia ML

feat(corpus): expand synthetic proofs for least-represented provers
  scripts/generate_synthetic_provers.jl
  training_data/proof_states_imandra.jsonl
  training_data/proof_states_minlog.jsonl
  training_data/proof_states_nuprl.jsonl
  training_data/proof_states_twelf.jsonl
Due: none

feat(corpus): expand synthetic proofs for least-represented provers (#20)
  scripts/generate_synthetic_provers.jl
  training_data/proof_states_imandra.jsonl
  training_data/proof_states_minlog.jsonl
  training_data/proof_states_nuprl.jsonl
  training_data/proof_states_twelf.jsonl
Due: none

feat(verisim): first-class Proof / TacticApplication / ProofVersion / ProofStateRecord
  src/rust/proof_encoding.rs
  src/rust/verification/mod.rs
  src/rust/verification/proof.rs
  src/rust/verisim_bridge.rs
Due: rust, Rust Core

Claude/fix prover wiring epy ir (#21)
  src/rust/proof_encoding.rs
  src/rust/verification/mod.rs
  src/rust/verification/proof.rs
  src/rust/verisim_bridge.rs
Due: rust, Rust Core

feat(types): add native type-system decoration layer + Sigma variant
  src/rust/agent/explanations.rs
  src/rust/aspect.rs
  src/rust/core.rs
  src/rust/gnn/embeddings.rs
  src/rust/gnn/graph.rs
  src/rust/gnn/guided_search.rs
  src/rust/lib.rs
  src/rust/provers/abc.rs
  src/rust/provers/acl2.rs
  src/rust/provers/agda.rs
  src/rust/provers/alloy.rs
  src/rust/provers/coq.rs
  src/rust/provers/cvc5.rs
  src/rust/provers/hol4.rs
  src/rust/provers/hol_light.rs
  src/rust/provers/idris2.rs
  src/rust/provers/isabelle.rs
  src/rust/provers/lean.rs
  src/rust/provers/metamath.rs
  src/rust/provers/mizar.rs
  src/rust/provers/nusmv.rs
  src/rust/provers/prism.rs
  src/rust/provers/proverif.rs
  src/rust/provers/pvs.rs
  src/rust/provers/tamarin.rs
  src/rust/provers/tlc.rs
  src/rust/provers/typed_wasm.rs
  src/rust/provers/uppaal.rs
  src/rust/provers/z3.rs
  src/rust/types/mod.rs
Due: rust, Rust Core

feat(corpus): expand synthetic proofs for 6 extract-script provers
  scripts/extract_dafny.jl
  scripts/extract_fstar.jl
  scripts/extract_idris2.jl
  scripts/extract_isabelle_tropical.jl
  scripts/extract_minizinc.jl
  scripts/extract_mizar.jl
  training_data/proof_states_dafny.jsonl
  training_data/proof_states_fstar.jsonl
  training_data/proof_states_idris2.jsonl
  training_data/proof_states_isabelle.jsonl
  training_data/proof_states_minizinc.jsonl
  training_data/proof_states_mizar.jsonl
Due: none

feat(corpus): align premise proof_ids with UNIFIED after merge
  Justfile
  scripts/align_premises.jl
Due: none

feat(corpus): pass 3 — expand F*/Idris2/MiniZinc + vocabulary 14×
  models/premise_vocab.txt
  models/tactic_vocab.txt
  scripts/extract_fstar.jl
  scripts/extract_idris2.jl
  scripts/extract_minizinc.jl
  training_data/proof_states_fstar.jsonl
  training_data/proof_states_idris2.jsonl
  training_data/proof_states_minizinc.jsonl
Due: none

Claude/fix prover wiring epy ir (#22)
  Justfile
  scripts/align_premises.jl
Due: none

feat(types): wire backend consumers + fix z3 build + outcome module
  src/rust/exchange/dedukti.rs
  src/rust/gnn/embeddings.rs
  src/rust/gnn/graph.rs
  src/rust/provers/fstar.rs
  src/rust/provers/idris2.rs
  src/rust/provers/mod.rs
  src/rust/provers/outcome.rs
  src/rust/provers/z3.rs
Due: rust, Rust Core

feat(types): wire backend consumers + fix z3 build + outcome module (#24)
  src/rust/exchange/dedukti.rs
  src/rust/gnn/embeddings.rs
  src/rust/gnn/graph.rs
  src/rust/provers/fstar.rs
  src/rust/provers/idris2.rs
  src/rust/provers/mod.rs
  src/rust/provers/outcome.rs
  src/rust/provers/z3.rs
Due: rust, Rust Core

Path conditions:
  rust: any of: src/rust/, but not: tests/, examples/, docs/, scripts/, target/, .cargo/, .julia/
  julia: any of: src/julia/, but not: tests/, examples/, docs/, scripts/, target/, .cargo/, .julia/
  rescript: any of: src/rescript/, but not: tests/, examples/, docs/, scripts/, target/, .cargo/, .julia/
  Rust Core: any of: src/rust/, but not: tests/, examples/, docs/, scripts/, target/, .cargo/, .julia/
  Julia ML: any of: src/julia/, but not: tests/, examples/, docs/, scripts/, target/, .cargo/, .julia/
  ReScript UI: any of: src/rescript/, but not: tests/, examples/, docs/, scripts/, target/, .cargo/, .julia/
