Repository Hyperpolymath/echidna: changes, and which Codecov flags are due for each by the changed paths.
All: rust, julia, rescript, Rust Core, Julia ML, ReScript UI

codecov.yml:

# SPDX-License-Identifier: PMPL-1.0-or-later
# SPDX-FileCopyrightText: 2024-2025 ECHIDNA Project Contributors
#
# Codecov configuration for ECHIDNA

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_ci_failed: error

    patch:
      default:
        target: 70%
        threshold: 5%

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

ignore:
  - "tests/"
  - "examples/"
  - "docs/"
  - "scripts/"
  - "target/"
  - ".cargo/"
  - ".julia/"

flags:
  rust:
    paths:
      - src/rust/
    carryforward: true

  julia:
    paths:
      - src/julia/
    carryforward: true

  rescript:
    paths:
      - src/rescript/
    carryforward: true

# Component coverage
component_management:
  individual_components:
    - component_id: rust_core
      name: Rust Core
      paths:
        - src/rust/

    - component_id: julia_ml
      name: Julia ML
      paths:
        - src/julia/

    - component_id: rescript_ui
      name: ReScript UI
      paths:
        - src/rescript/

feat: integrate Julia ML API with Rust backend
  Cargo.toml
  STATE.scm
  src/julia/Manifest.toml
  src/julia/Project.toml
  src/julia/api_server.jl
  src/rust/server.rs
Due: rust, julia, Rust Core, Julia ML

docs: add Julia ML integration report
  JULIA_ML_INTEGRATION_REPORT.md
Due: none

test: add comprehensive integration tests and v1.3.0 completion report
  V1.3.0_COMPLETE.md
  src/rescript/test.html
Due: rescript, ReScript UI

docs: add comprehensive training data expansion guide
  TRAINING_DATA_EXPANSION.md
  scripts/expand_training_data.sh
Due: none

feat: expand training data from 107 to 332 proofs (+210%)
  TRAINING_EXPANSION_RESULTS.md
  models/model_metadata.txt
  models/premise_vocab.txt
  models/tactic_model.txt
  models/tactic_vocab.txt
  src/julia/extract_all_proofs.jl
  training_data/proof_states_v2.jsonl
  training_data/stats_v2.json
  training_data/tactics_v2.jsonl
Due: julia, Julia ML

docs: add Chapel metalayer feasibility analysis and PoC
  CHAPEL_METALAYER_ANALYSIS.md
  chapel_poc/README.md
  chapel_poc/parallel_proof_search.chpl
Due: none

feat: implement and validate Chapel metalayer proof-of-concept
  ZIG_FFI_ANALYSIS.md
  chapel_poc/RESULTS.md
  chapel_poc/parallel_proof_search.chpl
  chapel_poc/proof_search
Due: none

docs: update STATE.scm with Chapel metalayer completion
  STATE.scm
Due: none

feat: implement comprehensive trust and validation framework
  Cargo.toml
  TRUST_AND_VALIDATION_FRAMEWORK.md
  TRUST_IMPLEMENTATION_GUIDE.md
  benches/proof_benchmarks.rs
  src/idris/ProofTerm.idr
  src/idris/Validator.idr
  src/idris/echidna-validator.ipkg
  src/rust/anomaly_detection.rs
  src/rust/lib.rs
  tests/property_tests.rs
Due: rust, Rust Core

docs: update STATE.scm with trust framework completion
  STATE.scm
Due: none

docs: add future roadmap, Chapel pluggability, and Just+Must framework
  CHAPEL_PLUGGABILITY_DESIGN.md
  FUTURE_DEVELOPMENT_ROADMAP.md
  JUST_AND_MUST_FRAMEWORK.md
Due: none

fix: correct anomaly detection thresholds and tests
  src/rust/anomaly_detection.rs
Due: rust, Rust Core

docs: update STATE.scm timestamp
  STATE.scm
Due: none

docs: update STATE.scm with trust framework test completion
  STATE.scm
Due: none

feat: complete v1.3 full stack integration
  QUICKSTART.md
  STATE.scm
  src/rescript/index.html
  src/rust/server.rs
  tests/integration_test.sh
Due: rust, rescript, Rust Core, ReScript UI

fix: update ports and resolve benchmark/test issues
  Cargo.toml
  RELEASE_NOTES_v1.2.md
  RELEASE_NOTES_v1.3.md
  benches/parser_bench.rs
  benches/proof_benchmarks.rs
  benches/verification_bench.rs
  src/julia/api_server.jl
  src/rust/agent/actors.rs
  src/rust/agent/explanations.rs
  src/rust/agent/memory.rs
  src/rust/agent/mod.rs
  src/rust/agent/planner.rs
  src/rust/agent/router.rs
  src/rust/provers/acl2.rs
  src/rust/provers/agda.rs
  src/rust/provers/coq.rs
  src/rust/provers/cvc5.rs
  src/rust/provers/hol4.rs
  src/rust/provers/hol_light.rs
  src/rust/provers/idris2.rs
  src/rust/provers/isabelle.rs
  src/rust/provers/lean.rs
  src/rust/provers/metamath.rs
  src/rust/provers/mizar.rs
  src/rust/provers/mizar_complete.rs
  src/rust/provers/mod.rs
  src/rust/provers/pvs.rs
  src/rust/provers/z3.rs
  src/rust/server.rs
  tests/integration_test.sh
Due: rust, julia, Rust Core, Julia ML

docs: add release notes and Julia project config
  STATE.scm
  src/julia/Project.toml
Due: julia, Julia ML

docs: add comprehensive session summary
  SESSION_SUMMARY.md
Due: none

feat: ECHIDNA v1.3 - 100% COMPLETE ✓
  STATE.scm
  src/julia/api_server.jl
Due: julia, Julia ML

docs: comprehensive documentation for v1.3.0 release
  ACADEMIC_PAPER.md
  ECOSYSTEM.scm
  META.scm
  README.md
Due: none
