Repository Hyperpolymath/echidna: changes, and which Codecov flags are due for each by the changed paths.
All: rust, julia, rescript, Rust Core, Julia ML, ReScript UI

Add workflow-linter.yml prevention workflow
  .github/workflows/workflow-linter.yml
Due: none

feat(security): resolve 5 code-scanning alerts (Alerts 11, 209, 210, 214, 215)
  echidna-playground/src/Main.res
  echidna-playground/src/Page.res
  echidna-playground/src/PlaygroundServer.res
  findings-current-norm.json
  hypatia-findings-v2.json
  hypatia-findings-v3.json
  hypatia-findings-v4.json
  hypatia-findings.json
  scan-results-echidna.json
  src/rust/coprocessor/audio.rs
Due: rust, Rust Core

fix(corpus): replace LowerHex format with manual hex encoding
  src/rust/corpus/octad.rs
  src/ui/public/prove.html
Due: rust, Rust Core

docs: correct prover/test counts and add SUPPORTED_PROVERS.md
  README.adoc
  docs/SUPPORTED_PROVERS.md
Due: none

chore: lint/format gate clean + expand panic-attack coverage
  src/rust/agent/swarm.rs
  src/rust/coprocessor/graphics.rs
  src/rust/exchange/dedukti.rs
  src/rust/gnn/client.rs
  src/rust/gnn/embeddings.rs
  src/rust/gnn/graph.rs
  src/rust/learning/design_search.rs
  src/rust/provers/agda.rs
  src/rust/provers/dafny.rs
  src/rust/server.rs
  src/rust/suggest/extractor.rs
  src/rust/vcl_ut.rs
  tests/panic_attack_props.rs
Due: rust, Rust Core

fix(server): unstale /.well-known/groove + correct prover counts in docs
  README.adoc
  docs/SUPPORTED_PROVERS.md
  src/rust/server.rs
Due: rust, Rust Core

fix: unblock PR #100 — clippy --all-targets and verisim-feature build
  src/rust/corpus/octad.rs
  src/rust/proof_encoding.rs
  src/rust/verification/proof.rs
  src/rust/verisim_bridge.rs
  tests/panic_attack_props.rs
Due: rust, Rust Core

fix(k9): inline pedigree fields in deploy.k9.ncl toplevel record
  container/deploy.k9.ncl
Due: none

chore(julia): archive five superseded training scripts ahead of S2 wiring
  src/julia/archive/train_advanced_models.jl
  src/julia/archive/train_and_evaluate.jl
  src/julia/archive/train_complete_final.jl
  src/julia/archive/train_final_models.jl
  src/julia/archive/train_models.jl
Due: julia, Julia ML

feat(julia): wire run_training.jl end-to-end to produce models/neural/ artefacts
  src/julia/run_training.jl
  src/julia/run_training_cpu.jl
Due: julia, Julia ML

feat(julia): load trained Flux weights in gnn_endpoint.jl, cosine as fallback
  src/julia/api/gnn_endpoint.jl
Due: julia, Julia ML

chore(justfile): add train and train-cpu recipes
  Justfile
Due: none

Claude/amazing cori kw a2 v (#101)
  Justfile
  src/julia/api/gnn_endpoint.jl
  src/julia/archive/train_advanced_models.jl
  src/julia/archive/train_and_evaluate.jl
  src/julia/archive/train_complete_final.jl
  src/julia/archive/train_final_models.jl
  src/julia/archive/train_models.jl
  src/julia/run_training.jl
  src/julia/run_training_cpu.jl
Due: julia, Julia ML

feat(julia): extend /gnn/health with model_path, vocab_size, training_records_received
  src/julia/api/gnn_endpoint.jl
Due: julia, Julia ML

feat(rust): add GnnClient::health_status() returning richer health payload
  src/rust/gnn/client.rs
  src/rust/gnn/mod.rs
  src/rust/provers/mod.rs
Due: rust, Rust Core

test(rust): mock-server integration proves gnn_augment_tactics wires top-ranked premises into rocq/lean/agda/isabelle/z3
  tests/gnn_augment_integration.rs
Due: none

feat(julia): add eval_held_out.jl computing MRR/top-k on validation split
  src/julia/eval_held_out.jl
Due: julia, Julia ML

chore(justfile): add eval recipe for held-out MRR measurement
  Justfile
Due: none

docs(handover): add S5-VERIFICATION-RUNBOOK for trained-weights verification flow
  docs/handover/S5-VERIFICATION-RUNBOOK.md
Due: none

feat(aspect): add slug() and dotted_key() canonical-form methods
  src/rust/aspect.rs
Due: rust, Rust Core

feat(agent): AspectTagger auto-populates goal.aspects via dotted_key() when empty
  src/rust/agent/mod.rs
Due: rust, Rust Core

refactor(test): migrate 10 hardcoded aspect literals to Aspect::dotted_key()
  src/rust/agent/explanations.rs
  src/rust/agent/memory.rs
  src/rust/agent/router.rs
  src/rust/gnn/guided_search.rs
Due: rust, Rust Core

feat(learning): boundary filter — only dotted aspects reach domain_hints / primary_domain
  src/rust/agent/meta_controller.rs
  src/rust/provers/mod.rs
Due: rust, Rust Core

docs(statistics): update docstring with canonical "category.aspect" format
  src/rust/verification/statistics.rs
Due: rust, Rust Core

feat(julia): apply_domain_weights gains category-prefix rollup on exact-key miss
  src/julia/api/gnn_endpoint.jl
Due: julia, Julia ML

docs(handover): THEOREM-METADATA-MIGRATION follow-up plan
  docs/handover/THEOREM-METADATA-MIGRATION.md
Due: none

test(perf): bump backend-creation wall from 100ms to 250ms
  tests/integration_v1_2.rs
Due: none

chore(docs): remove 20 version-archaeology docs pinned to v1.0/v1.2/v1.3
  ROADMAP.adoc
  TOPOLOGY.md
  docs/DELIVERABLES.md
  docs/FUTURE_DEVELOPMENT_ROADMAP.md
  docs/MVP-1.0-DEPS.adoc
  docs/MVP-1.0-MISSING.adoc
  docs/MVP-1.0.adoc
  docs/QUICKSTART.md
  docs/STATE-VISUALIZER.adoc
  docs/TRAINING_DATA_EXPANSION.md
  docs/deployment/DEPLOYMENT.md
  docs/deployment/V1.2_DEPLOYMENT_GUIDE.md
  docs/implementation/PROVER_IMPLEMENTATION_STATUS.md
  docs/releases/RELEASE_NOTES.md
  docs/reports/INTEGRATION_TEST_RESULTS.md
  docs/reports/JULIA_ML_INTEGRATION_REPORT.md
  docs/reports/PERFORMANCE.md
  docs/reports/SECURITY-SCAN-FINAL.md
  docs/reports/TESTING-REPORT.adoc
  docs/reports/TRAINING_EXPANSION_RESULTS.md
Due: none

chore(reports): collect security scan outputs in reports/
  reports/findings-current-norm.json
  reports/hypatia-findings-v2.json
  reports/hypatia-findings-v3.json
  reports/hypatia-findings-v4.json
  reports/hypatia-findings.json
  reports/scan-results-echidna.json
  scan-results-echidna.json
Due: none

chore(docs): remove 9 superseded one-time-analysis docs
  ECHIDNA_COMPARISON_ANALYSIS.md
  HANDOFF-TO-SONNET.md
  JULIA_INTEGRATION_STRATEGY.md
  KATAGORIA_ECHO_INTEGRATION_ANALYSIS.md
  TYPELL_INTEGRATION_FEASIBILITY.md
  docs/IMPLEMENTATION-SPECS.md
  docs/design/CHAPEL_METALAYER_ANALYSIS.md
  docs/design/CHAPEL_PLUGGABILITY_DESIGN.md
  docs/design/ZIG_FFI_ANALYSIS.md
Due: none

chore(docs): relocate planning, warmup, and academic files
  docs/PROOF-NEEDS.md
  docs/TEST-NEEDS.md
  docs/academic/arcvix-neurosymbolic-theorem-proving.bib
  docs/academic/arcvix-neurosymbolic-theorem-proving.tex
  docs/handover/llm-warmup-dev.md
  docs/handover/llm-warmup-user.md
Due: none

chore(docs): move loose root analysis files to docs/design/
  docs/design/ADVANCED_TYPING_GAP_ANALYSIS.md
  docs/design/OTHER_SYSTEMS_USP_PPA.md
  docs/design/TYPING_CAPABILITIES_COMPARISON.md
Due: none

chore(scripts): move corpus-balance shell scripts from root to scripts/
  scripts/balance_corpus.sh
  scripts/balance_corpus_fast.sh
  scripts/balance_smtlib.sh
  scripts/balance_smtlib_optimized.sh
Due: none

chore(misc): remove 6 sub-project / misc rot files
  NPM_BANNED.md
  echidna-playground/ABI-FFI-README.md
  echidna-playground/CONTRIBUTING.md
  echidna-playground/LICENSE.txt
  echidna-playground/ROADMAP.adoc
  tests/SANITY_SUITE_README.md
Due: none

docs: add RSR_COMPLIANCE.adoc at root per RSR-H9 / RSR-S4
  RSR_COMPLIANCE.adoc
Due: none

chore(config): unify configs/ into config/ per RSR-H11
  config/config.ncl
Due: none

Path conditions:
  rust: any of: src/rust/, but not: tests/, examples/, docs/, scripts/, target/, .cargo/, .julia/
  julia: any of: src/julia/, but not: tests/, examples/, docs/, scripts/, target/, .cargo/, .julia/
  rescript: any of: src/rescript/, but not: tests/, examples/, docs/, scripts/, target/, .cargo/, .julia/
  Rust Core: any of: src/rust/, but not: tests/, examples/, docs/, scripts/, target/, .cargo/, .julia/
  Julia ML: any of: src/julia/, but not: tests/, examples/, docs/, scripts/, target/, .cargo/, .julia/
  ReScript UI: any of: src/rescript/, but not: tests/, examples/, docs/, scripts/, target/, .cargo/, .julia/
