Repository Hyperpolymath/echidna: changes, and which Codecov flags are due for each by the changed paths.
All: rust, julia, rescript, Rust Core, Julia ML, ReScript UI

feat(meta-controller): Phase 7 — Pareto + Bayesian routing across (prover × coprocessor × aspect)
  .machine_readable/6a2/STATE.a2ml
  src/rust/agent/meta_controller.rs
Due: rust, Rust Core

feat(provers): Phase 5 — GNATprove + Stainless + Liquid Haskell + ffi cleanup
  .machine_readable/6a2/STATE.a2ml
  src/rust/ffi/mod.rs
  src/rust/provers/gnatprove.rs
  src/rust/provers/liquid_haskell.rs
  src/rust/provers/mod.rs
  src/rust/provers/stainless.rs
Due: rust, Rust Core

fix: remove duplicate FromStr entries and update FFI test boundary
  src/rust/ffi/mod.rs
Due: rust, Rust Core

docs(roadmap): reflect ground truth — S3 done, Phase 1a/1b done, prover count 128
  docs/ROADMAP.md
Due: none

feat(coprocessor): Phase 2b — 5 subprocess CAS backends
  .machine_readable/6a2/STATE.a2ml
  src/rust/coprocessor/gap.rs
  src/rust/coprocessor/julia_bridge.rs
  src/rust/coprocessor/macaulay2.rs
  src/rust/coprocessor/maxima.rs
  src/rust/coprocessor/mod.rs
  src/rust/coprocessor/parigp.rs
  src/rust/coprocessor/singular.rs
  src/rust/coprocessor/types.rs
Due: rust, Rust Core

feat(meta-controller): wire Phase 2b CAS backends into registry + routing
  src/rust/agent/meta_controller.rs
Due: rust, Rust Core

feat(dispatch): wire VeriSim record_proof_attempt at verify_proof exits
  src/rust/dispatch.rs
  src/rust/verisim_bridge.rs
Due: rust, Rust Core

feat(integration): wire MetaController into AgentCore + server
  src/rust/agent/mod.rs
  src/rust/server.rs
Due: rust, Rust Core

feat(verisim): thread obligation_class + add cross-prover search layer
  docs/ROADMAP.md
  src/rust/dispatch.rs
  src/rust/main.rs
  src/rust/repl/proof.rs
  src/rust/vcl_ut.rs
Due: rust, Rust Core

feat(gnn): close the training feedback loop — StatisticsTracker → Julia
  src/julia/api/gnn_endpoint.jl
  src/rust/gnn/client.rs
  src/rust/server.rs
  src/rust/verification/mod.rs
  src/rust/verification/statistics.rs
  tests/agentic_integration.rs
Due: rust, julia, Rust Core, Julia ML

chore(s4): S4 loop-closure fixtures, runbook, and ProverConfig field fixes
  Justfile
  docs/ROADMAP.md
  docs/handover/S4-LOOP-CLOSURE-RUNBOOK.md
  tests/common/mod.rs
  tests/integration_v1_2.rs
  tests/live_prover_suite.rs
  tests/live_prover_verify.rs
  tests/s4_loop_closure.rs
Due: none

feat(fault-tolerance): health monitoring, NeSy validation, fallback SLA
  examples/.simple_proof.aux
  examples/simple_proof.glob
  reports/blitz-2026-04-25-late/crates.json
  reports/blitz-2026-04-25-late/src-abi.json
  reports/blitz-2026-04-25-late/src-interfaces.json
  reports/blitz-2026-04-25-late/src-rust.json
  src/rust/diagnostics/fallback_monitor.rs
  src/rust/diagnostics/health.rs
  src/rust/diagnostics/mod.rs
  src/rust/diagnostics/nesy_validation.rs
  src/rust/dispatch.rs
  src/rust/main.rs
  src/rust/repl/diagnostics.rs
  src/rust/repl/mod.rs
  src/rust/server.rs
  tests/full_health_system_test.rs
  tests/prove_handler_health_integration_test.rs
Due: rust, Rust Core

feat(gnn): thread domain_hints through GnnGuidedSearch — activate weight-guided ranking
  src/rust/gnn/client.rs
  src/rust/gnn/guided_search.rs
Due: rust, Rust Core

feat(gnn): activate closed-loop scoring at agent → tactic-suggestion seam
  src/rust/agent/mod.rs
  src/rust/provers/mod.rs
Due: rust, Rust Core

docs(verification): land E10/E11/E13 Lean4 proof designs
  PROOF-NEEDS.md
  verification/proofs/lean4/IntegrityVerification.lean
  verification/proofs/lean4/ParetoMaximality.lean
  verification/proofs/lean4/PortfolioCompleteness.lean
Due: none

feat(echidna-core-spark): add Creusot-annotated pareto module (M3)
  crates/echidna-core-spark/src/lib.rs
  crates/echidna-core-spark/src/pareto.rs
Due: none

feat(data/synonyms): seed first 27 tactic-synonym entries
  data/synonyms/README.adoc
  data/synonyms/coq.toml
  data/synonyms/isabelle.toml
  data/synonyms/lean4.toml
Due: none

docs(handover): land echidna suggest CLI verb design + Sonnet brief
  docs/handover/SUGGEST-CLI-PROMPT.md
Due: none

docs(verification): tighten E13 PR-14 + add E10 descent-measure groundwork
  PROOF-NEEDS.md
  verification/proofs/lean4/ParetoMaximality.lean
  verification/proofs/lean4/PortfolioCompleteness.lean
Due: none

feat(provers): add KeYmaera X backend (Phase 3 differential dynamic logic)
  src/rust/ffi/mod.rs
  src/rust/provers/keymaerax.rs
  src/rust/provers/mod.rs
Due: rust, Rust Core

docs(handover): land Phase 3 design brief covering all 7 backends
  docs/handover/PHASE-3-PROMPT.md
Due: none

docs(verification): stage E10 PO-12 strong maximality (proof attempt)
  PROOF-NEEDS.md
  verification/proofs/lean4/ParetoStrongMaximality.lean
Due: none

feat(provers): close Phase 3 — 6 real-algebraic + connection-method + tableau backends
  src/rust/ffi/mod.rs
  src/rust/provers/connection_method.rs
  src/rust/provers/ileancop.rs
  src/rust/provers/mettel2.rs
  src/rust/provers/mleancop.rs
  src/rust/provers/mod.rs
  src/rust/provers/nanocop.rs
  src/rust/provers/qepcad.rs
  src/rust/provers/redlog.rs
Due: rust, Rust Core

feat(provers): close Phase 4 — 6 DL/probabilistic/B-method/comp-crypto backends
  src/rust/ffi/mod.rs
  src/rust/provers/cryptoverif.rs
  src/rust/provers/easycrypt.rs
  src/rust/provers/elk.rs
  src/rust/provers/konclude.rs
  src/rust/provers/mod.rs
  src/rust/provers/prob.rs
  src/rust/provers/storm.rs
Due: rust, Rust Core

fix(dispatch): restore cross-checking when GNN unavailable (CosineOnly mode)
  src/rust/dispatch.rs
Due: rust, Rust Core

feat(suggest): implement echidna suggest CLI verb — mechanical tactic-variant finder
  src/rust/lib.rs
  src/rust/main.rs
  src/rust/suggest/extractor.rs
  src/rust/suggest/mod.rs
  src/rust/suggest/report.rs
  src/rust/suggest/synonyms.rs
  src/rust/suggest/tester.rs
  src/rust/suggest/variant.rs
Due: rust, Rust Core

feat(suggest): implement suggest_tactics for Abella, KeYmaeraX, EasyCrypt (Stage 4c)
  src/rust/provers/abella.rs
  src/rust/provers/csi.rs
  src/rust/provers/easycrypt.rs
  src/rust/provers/keymaerax.rs
Due: rust, Rust Core

feat(spark): Stage 8c — live Creusot contracts + weighted_rank + CI (PO-P1..P8)
  .github/workflows/formal-verification.yml
  Justfile
  crates/echidna-core-spark/rust-toolchain.toml
  crates/echidna-core-spark/src/axiom_tracker.rs
  crates/echidna-core-spark/src/lib.rs
  crates/echidna-core-spark/src/pareto.rs
Due: none

feat(spark): Stage 8c-M2 — live compute contract + pure dominates + inner invariant
  crates/echidna-core-spark/CREUSOT-SETUP.md
  crates/echidna-core-spark/src/pareto.rs
Due: none

feat(spark): Stage 8c-M3 — outer-loop invariant, CI hard gate
  .github/workflows/formal-verification.yml
  crates/echidna-core-spark/CREUSOT-SETUP.md
  crates/echidna-core-spark/src/pareto.rs
Due: none

feat(l3-wave3): complete Wave-3 Tier-3 container infrastructure (9 backends)
  .containerization/Containerfile.imandra
  .github/workflows/container-ci.yml
  .machine_readable/6a2/STATE.a2ml
  Justfile
Due: none

chore(contractiles): k9 → svc/, remove lust dir (ADR-001 2026-04-18)
  .machine_readable/contractiles/k9/echidna-metadata.k9.ncl
  .machine_readable/svc/README.adoc
  .machine_readable/svc/k9/README.adoc
  .machine_readable/svc/k9/examples/ci-config.k9.ncl
  .machine_readable/svc/k9/examples/project-metadata.k9.ncl
  .machine_readable/svc/k9/examples/setup-repo.k9.ncl
  .machine_readable/svc/k9/template-hunt.k9.ncl
  .machine_readable/svc/k9/template-kennel.k9.ncl
  .machine_readable/svc/k9/template-yard.k9.ncl
Due: none

chore(state): record 2026-04-27 audit + cleanup session
  .machine_readable/6a2/STATE.a2ml
Due: none

docs(readme): update prover count 48→128 and test count 613→917
  README.adoc
Due: none

feat(corpus): project-corpus indexer + Agda adapter + ordinal/WF synonyms
  .gitignore
  data/synonyms/agda.toml
  src/rust/corpus/agda.rs
  src/rust/corpus/mod.rs
  src/rust/lib.rs
  src/rust/main.rs
Due: rust, Rust Core

feat(learning): SA design-search — proof-design space, not tactic space
  src/rust/learning/design_search.rs
  src/rust/learning/mod.rs
  src/rust/main.rs
Due: rust, Rust Core

feat(agent): swarm dispatcher + SA energy refinement
  src/rust/agent/mod.rs
  src/rust/agent/swarm.rs
  src/rust/learning/design_search.rs
  src/rust/main.rs
Due: rust, Rust Core

feat(learning): rank-function search for unbudgeted wf-<ᵇʳᶠ_
  src/rust/learning/buchholz_rank.rs
  src/rust/learning/mod.rs
  src/rust/main.rs
Due: rust, Rust Core

feat(corpus): reverse-dep index — Step 1 of N-dim VeriSim plan
  src/rust/corpus/mod.rs
  src/rust/main.rs
Due: rust, Rust Core

feat(corpus): Coq + Lean 4 + Idris 2 adapters; cross-prover semantic classes
  data/synonyms/agda.toml
  data/synonyms/coq.toml
  data/synonyms/idris2.toml
  data/synonyms/lean4.toml
  src/rust/corpus/coq.rs
  src/rust/corpus/idris2.rs
  src/rust/corpus/lean.rs
  src/rust/corpus/mod.rs
  src/rust/main.rs
  src/rust/suggest/synonyms.rs
  src/rust/suggest/variant.rs
Due: rust, Rust Core

Path conditions:
  rust: any of: src/rust/, but not: tests/, examples/, docs/, scripts/, target/, .cargo/, .julia/
  julia: any of: src/julia/, but not: tests/, examples/, docs/, scripts/, target/, .cargo/, .julia/
  rescript: any of: src/rescript/, but not: tests/, examples/, docs/, scripts/, target/, .cargo/, .julia/
  Rust Core: any of: src/rust/, but not: tests/, examples/, docs/, scripts/, target/, .cargo/, .julia/
  Julia ML: any of: src/julia/, but not: tests/, examples/, docs/, scripts/, target/, .cargo/, .julia/
  ReScript UI: any of: src/rescript/, but not: tests/, examples/, docs/, scripts/, target/, .cargo/, .julia/
