Repository Hyperpolymath/echidna: changes, and which Codecov flags are due for each by the changed paths.
All: rust, julia, rescript, Rust Core, Julia ML, ReScript UI

codecov.yml:

# SPDX-License-Identifier: PMPL-1.0-or-later
# SPDX-FileCopyrightText: 2024-2025 ECHIDNA Project Contributors
#
# Codecov configuration for ECHIDNA

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_ci_failed: error

    patch:
      default:
        target: 70%
        threshold: 5%

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

ignore:
  - "tests/"
  - "examples/"
  - "docs/"
  - "scripts/"
  - "target/"
  - ".cargo/"
  - ".julia/"

flags:
  rust:
    paths:
      - src/rust/
    carryforward: true

  julia:
    paths:
      - src/julia/
    carryforward: true

  rescript:
    paths:
      - src/rescript/
    carryforward: true

# Component coverage
component_management:
  individual_components:
    - component_id: rust_core
      name: Rust Core
      paths:
        - src/rust/

    - component_id: julia_ml
      name: Julia ML
      paths:
        - src/julia/

    - component_id: rescript_ui
      name: ReScript UI
      paths:
        - src/rescript/

chore(state): mark Package 4 step 6 closed + record type_info test-fixture drift
  .machine_readable/6a2/STATE.a2ml
Due: none

test(fixtures): add type_info: None to Hypothesis/Definition/Variable literals
  benches/proof_benchmarks.rs
  tests/common/generators.rs
  tests/common/mod.rs
  tests/sanity_suite.rs
Due: none

fix(example): remove dead NeuralTagger reference from aspect_tagging_demo
  examples/aspect_tagging_demo.rs
Due: none

chore(deps): cargo update — patch rustls-webpki + transitive bumps
  Cargo.lock
Due: none

Claude/assess agent tier readiness w q od r (#36)
  crates/echidna-mcp/README.md
  crates/echidna-mcp/src/main.rs
  examples/aspect_tagging_demo.rs
  tests/common/generators.rs
Due: none

Claude/echidna mcp (#37)
  .claude/settings.local.json
  Cargo.lock
  src/interfaces/grpc/Cargo.toml
  src/interfaces/grpc/build.rs
  src/interfaces/grpc/ffi_wrapper.rs
  src/interfaces/grpc/main.rs
  tests/live_goals/.gitignore
  tests/live_goals/Broken.agda
  tests/live_goals/Identity.agda
  tests/live_goals/broken.v
  tests/live_goals/contradiction.smt2
  tests/live_goals/identity.v
  tests/live_goals/tautology.smt2
  tests/live_goals/trivial.dfg
  tests/live_goals/trivial.mm
  tests/live_prover_verify.rs
Due: none

feat(corpus): ingest echidnabot feedback deltas in merge_corpus.jl (7b-3)
  scripts/merge_corpus.jl
Due: none

docs(crg): populate external-targets / issues-fed-back / field-signal in STATE.a2ml
  .machine_readable/6a2/STATE.a2ml
Due: none

docs(bot-directives): add echidnabot mode directive (Phase 7)
  .machine_readable/bot_directives/echidnabot.a2ml
Due: none

feat(ci): adopt cargo-audit workflow for dependency vulnerability scan
  .github/workflows/cargo-audit.yml
Due: none

docs(agentic/neurosym): populate full spec-conformant A2ML metadata
  .machine_readable/6a2/AGENTIC.a2ml
  .machine_readable/6a2/NEUROSYM.a2ml
Due: none

docs: add comprehensive 8-stage roadmap for echidna-as-a-service
  .machine_readable/ROADMAP.a2ml
Due: none

feat(rest): /api/v1/consult endpoint for Consultant-mode Q&A
  src/interfaces/rest/handlers.rs
  src/interfaces/rest/main.rs
  src/interfaces/rest/models.rs
  src/rust/llm.rs
Due: rust, Rust Core

chore(state): record ReScript→AffineScript + Rust→Rust/SPARK migration roadmaps
  .machine_readable/6a2/STATE.a2ml
Due: none

docs: detailed implementation specs for container isolation + GNN training
  docs/IMPLEMENTATION-SPECS.md
Due: none

docs: handoff guide for Sonnet 4.7 (container isolation + GNN training)
  HANDOFF-TO-SONNET.md
Due: none

fix(rest): unblock /api/v1/consult — 37 pre-existing rest-crate errors
  src/interfaces/rest/ffi_wrapper.rs
  src/interfaces/rest/handlers.rs
  src/interfaces/rest/models.rs
Due: none

test: add Stage 1 integration test (end-to-end proof execution)
  tests/stage1_integration_test.rs
Due: none

chore(reports): chunked panic-attack sweep — replaces 180s-timeout single-run
  reports/panic-attack-chunks/SUMMARY.md
  reports/panic-attack-chunks/crates-echidna-core.json
  reports/panic-attack-chunks/crates-echidna-mcp.json
  reports/panic-attack-chunks/crates-echidna-wire.json
  reports/panic-attack-chunks/crates-typed-wasm.json
  reports/panic-attack-chunks/src-abi.json
  reports/panic-attack-chunks/src-ada.json
  reports/panic-attack-chunks/src-idris.json
  reports/panic-attack-chunks/src-interfaces.json
  reports/panic-attack-chunks/src-julia.json
  reports/panic-attack-chunks/src-rescript.json
  reports/panic-attack-chunks/src-rust.json
  reports/panic-attack-chunks/src-ui.json
  reports/panic-attack-chunks/src-zig-ffi.json
  reports/panic-attack-chunks/src-zig.json
Due: none

fix(uppaal): https for the UPPAAL flat-DTD URI; STATE.a2ml session log
  .machine_readable/6a2/STATE.a2ml
  src/rust/provers/uppaal.rs
Due: rust, Rust Core

feat: add comprehensive fault-tolerance architecture (4 layers)
  Cargo.toml
  src/abi/NeSyAssistTesting.idr
  src/rust/diagnostics/health.rs
  src/rust/diagnostics/mod.rs
  src/rust/fault_tolerance/mod.rs
  src/rust/fault_tolerance/resilience.rs
  src/rust/lib.rs
  src/rust/repl/diagnostics.rs
  src/rust/repl/mod.rs
Due: rust, Rust Core

fix(provers): bounded_read_proof_file helper + 25 wrapper migrations
  Cargo.lock
  src/rust/provers/abella.rs
  src/rust/provers/acl2s.rs
  src/rust/provers/arend.rs
  src/rust/provers/athena.rs
  src/rust/provers/boogie.rs
  src/rust/provers/cameleer.rs
  src/rust/provers/cubical_agda.rs
  src/rust/provers/dedukti.rs
  src/rust/provers/hp_ecosystem.rs
  src/rust/provers/io.rs
  src/rust/provers/isabelle_zf.rs
  src/rust/provers/lambda_prolog.rs
  src/rust/provers/lean3.rs
  src/rust/provers/matita.rs
  src/rust/provers/mercury.rs
  src/rust/provers/mizar_ar.rs
  src/rust/provers/mod.rs
  src/rust/provers/naproche.rs
  src/rust/provers/nitpick.rs
  src/rust/provers/nunchaku.rs
  src/rust/provers/opensmt.rs
  src/rust/provers/prover9.rs
  src/rust/provers/rocq.rs
  src/rust/provers/smtrat.rs
  src/rust/provers/typed_wasm.rs
  src/rust/provers/uppaal_stratego.rs
  src/rust/provers/zipperposition.rs
Due: rust, Rust Core

fix(rest+llm): /api/v1/consult e2e wiring — env-var port + cartridge name
  src/interfaces/rest/main.rs
  src/rust/llm.rs
Due: rust, Rust Core

chore(state): record late-evening session — 4 deferred follow-ups closed
  .machine_readable/6a2/STATE.a2ml
Due: none

fix: format GNN training metrics timestamp with RFC3339 timezone
  models/training_metrics.json
  src/julia/train_and_evaluate.jl
Due: julia, Julia ML

feat: implement fallback_monitor for cosine similarity SLA tracking
  src/rust/gnn/fallback_monitor.rs
  src/rust/gnn/guided_search.rs
  src/rust/gnn/mod.rs
  tests/fallback_monitor_integration_test.rs
Due: rust, Rust Core

feat(proofs): add Agda project file for proofs/agda/
  proofs/agda/echidna-proofs.agda-lib
Due: none

feat: implement corpus_monitor for corpus health tracking on proof additions
  src/rust/diagnostics/corpus_monitor.rs
  src/rust/diagnostics/mod.rs
  tests/corpus_health_integration_test.rs
Due: rust, Rust Core

fix(integrity): bounded_read_config helper for solver manifest
  src/rust/integrity/io.rs
  src/rust/integrity/mod.rs
  src/rust/integrity/solver_integrity.rs
Due: rust, Rust Core

chore: add FFI boundary audit + gnn_training integration test
  audits/assail-classifications.a2ml
  audits/audit-ffi-boundary.md
  tests/gnn_training_integration_test.rs
Due: none

feat(verisim): scaffold VeriSimDB octad bridge for proof metadata storage
  src/rust/verisim_bridge.rs
Due: rust, Rust Core

feat(diagnostics): fallback SLA enforcement + field signal collection setup
  scripts/collect-field-signal.sh
  src/interfaces/graphql/ffi_wrapper.rs
  src/interfaces/graphql/main.rs
  src/interfaces/graphql/resolvers.rs
  src/rust/diagnostics/health.rs
Due: rust, Rust Core

fix(provers): correct EProver '#'→'%' prefix bug and Z3 get-value parsing bug; add proof_failure diagnostics
  src/rust/diagnostics/mod.rs
  src/rust/diagnostics/proof_failure.rs
  src/rust/provers/eprover.rs
  src/rust/provers/z3.rs
Due: rust, Rust Core

fix(graphql): migrate to current core API — mirror of 6c878a1
  src/interfaces/graphql/ffi_wrapper.rs
  src/interfaces/graphql/resolvers.rs
  src/interfaces/graphql/schema.rs
Due: none

feat(cli): wire --diagnose flag into verify and prove subcommands
  src/rust/diagnostics/mod.rs
  src/rust/diagnostics/proof_failure.rs
  src/rust/main.rs
Due: rust, Rust Core

chore(state): record session-2026-04-26-followup-batch in STATE.a2ml
  .machine_readable/6a2/STATE.a2ml
Due: none

docs(handover): update STATE + TODO for 2026-04-26 follow-up batch
  docs/handover/STATE.md
  docs/handover/TODO.md
Due: none

feat(l1/l2/l3): Cap'n Proto IPC scaffold, Chapel parallel endpoint, Wave-3 Containerfiles
  .containerization/Containerfile.acl2
  .containerization/Containerfile.hol4
  .containerization/Containerfile.metamath
  .containerization/Containerfile.or-tools
  .containerization/Containerfile.proverif
  .containerization/Containerfile.scip
  .containerization/Containerfile.tamarin
  .containerization/Containerfile.twelf
  schemas/echidna.capnp
  src/rust/ipc/mod.rs
  src/rust/lib.rs
  src/rust/server.rs
Due: rust, Rust Core
