Repository Hyperpolymath/echidna: changes, and which Codecov flags are due for each by the changed paths.
All: rust, julia, rescript, Rust Core, Julia ML, ReScript UI

chore: resolve accidental conflicts from stash pop
  .gitignore
  training_data/stats_UNIFIED.json
  training_data/vocabulary_UNIFIED.txt
Due: none

feat(vocab): massive expansion from 100K to 250K+ tokens based on 700K proof corpus
  models/premise_vocab.txt
  training_data/vocabulary_UNIFIED.txt
Due: none

long path
  .machine_readable/6a2/META.a2ml
  .machine_readable/6a2/PLAYBOOK.a2ml
  schemas/echidna.capnp
  src/chapel/README.md
  src/chapel/RESULTS.md
  src/chapel/chapel_ffi_exports.chpl
  src/chapel/parallel_proof_search.chpl
  src/chapel/proof_search
Due: none

feat(provers): add 12 type-checker prover backends to ProverKind
  src/rust/ffi/mod.rs
  src/rust/provers/mod.rs
Due: rust, Rust Core

feat(types): wire backend consumers + fix z3 build + outcome module
  src/rust/exchange/dedukti.rs
  src/rust/gnn/embeddings.rs
  src/rust/gnn/graph.rs
  src/rust/provers/fstar.rs
  src/rust/provers/idris2.rs
  src/rust/provers/mod.rs
  src/rust/provers/outcome.rs
  src/rust/provers/z3.rs
Due: rust, Rust Core

chore(lints): clear all 4 stable + 2 verisim cargo warnings
  src/rust/agent/memory.rs
  src/rust/provers/mod.rs
  src/rust/vcl_ut.rs
  src/rust/verisim_bridge.rs
Due: rust, Rust Core

fix(bench): add missing diagnostics field in routing bench DispatchConfig
  benches/routing_benchmarks.rs
Due: none

feat(types): native type-system decoration layer + Sigma variant
  src/rust/agent/explanations.rs
  src/rust/aspect.rs
  src/rust/core.rs
  src/rust/gnn/embeddings.rs
  src/rust/gnn/graph.rs
  src/rust/lib.rs
  src/rust/provers/abc.rs
  src/rust/provers/acl2.rs
  src/rust/provers/agda.rs
  src/rust/provers/alloy.rs
  src/rust/provers/coq.rs
  src/rust/provers/cvc5.rs
  src/rust/provers/hol4.rs
  src/rust/provers/hol_light.rs
  src/rust/provers/idris2.rs
  src/rust/provers/isabelle.rs
  src/rust/provers/lean.rs
  src/rust/provers/metamath.rs
  src/rust/provers/mizar.rs
  src/rust/provers/mod.rs
  src/rust/provers/nusmv.rs
  src/rust/provers/outcome.rs
  src/rust/provers/prism.rs
  src/rust/provers/proverif.rs
  src/rust/provers/pvs.rs
  src/rust/provers/tamarin.rs
  src/rust/provers/tlc.rs
  src/rust/provers/typed_wasm.rs
  src/rust/provers/uppaal.rs
  src/rust/provers/z3.rs
  src/rust/vcl_ut.rs
Due: rust, Rust Core

feat(types): native type-system decoration layer (#26)
  src/rust/agent/explanations.rs
  src/rust/aspect.rs
  src/rust/core.rs
  src/rust/exchange/dedukti.rs
  src/rust/gnn/embeddings.rs
  src/rust/gnn/graph.rs
  src/rust/lib.rs
  src/rust/provers/abc.rs
  src/rust/provers/acl2.rs
  src/rust/provers/agda.rs
  src/rust/provers/alloy.rs
  src/rust/provers/coq.rs
  src/rust/provers/cvc5.rs
  src/rust/provers/fstar.rs
  src/rust/provers/hol4.rs
  src/rust/provers/hol_light.rs
  src/rust/provers/idris2.rs
  src/rust/provers/isabelle.rs
  src/rust/provers/lean.rs
  src/rust/provers/metamath.rs
  src/rust/provers/mizar.rs
  src/rust/provers/nusmv.rs
  src/rust/provers/prism.rs
  src/rust/provers/proverif.rs
  src/rust/provers/pvs.rs
  src/rust/provers/tamarin.rs
  src/rust/provers/tlc.rs
  src/rust/provers/typed_wasm.rs
  src/rust/provers/uppaal.rs
  src/rust/provers/z3.rs
  src/rust/vcl_ut.rs
Due: rust, Rust Core

Claude/fix prover wiring epy ir (#28)
  benches/routing_benchmarks.rs
  src/julia/run_training.jl
  src/rust/agent/memory.rs
  src/rust/proof_encoding.rs
  src/rust/provers/mod.rs
  src/rust/vcl_ut.rs
  src/rust/verification/mod.rs
  src/rust/verisim_bridge.rs
  tests/live_prover_suite.rs
Due: rust, julia, Rust Core, Julia ML

feat(corpus,security): expand Isabelle corpus to 105 entries and resolve security alerts
  CHANGELOG.md
  CLAUDE.md
  PROOF-NEEDS.md
  echidnabot/Cargo.lock
  fuzz/Cargo.lock
  generate_idr.py
  scripts/extract_isabelle_tropical.jl
  src/chapel/proof_search
  training_data/proof_states_isabelle.jsonl
  verification/proofs/idris2/ProverKindInjectivity.idr
Due: none

security: update reqwest and lockfiles to resolve rustls-webpki and rand alerts
  echidnabot/Cargo.lock
  echidnabot/Cargo.toml
Due: none

security: remove binary artifact echidna_gui.wasm to resolve scorecard alert
  src/ui/public/assets/wasm/echidna_gui.wasm
Due: none

feat(corpus): expand 10 critically small provers (4→192 avg)
  training_data/proof_states_cvc5.jsonl
  training_data/proof_states_nunchaku.jsonl
  training_data/proof_states_nusmv.jsonl
  training_data/proof_states_typechecker_ecosystem.jsonl
  training_data/proof_states_uppaal.jsonl
  training_data/proof_states_z3.jsonl
Due: none

fix(types): add type_info field to test-only struct literals
  src/rust/gnn/graph.rs
  src/rust/gnn/guided_search.rs
  src/rust/learning/self_play.rs
  src/rust/provers/metamath.rs
  src/rust/types/mod.rs
Due: rust, Rust Core

chore(provers): dedupe — drop orphan mizar_complete.rs and cvc5.rs.stub
  .gitignore
  src/rust/provers/cvc5.rs.stub
  src/rust/provers/mizar_complete.rs
Due: rust, Rust Core

feat(corpus): wire premise emission into 22 extractors
  scripts/extract_acl2.jl
  scripts/extract_afp.jl
  scripts/extract_agda.jl
  scripts/extract_alloy.jl
  scripts/extract_arend.jl
  scripts/extract_athena.jl
  scripts/extract_boogie.jl
  scripts/extract_cameleer.jl
  scripts/extract_cbmc.jl
  scripts/extract_dafny.jl
  scripts/extract_framac.jl
  scripts/extract_fstar.jl
  scripts/extract_hol4.jl
  scripts/extract_hol_light.jl
  scripts/extract_idris2.jl
  scripts/extract_key.jl
  scripts/extract_lambda_prolog.jl
  scripts/extract_mathcomp.jl
  scripts/extract_mathlib4.jl
  scripts/extract_matita.jl
  scripts/extract_mercury.jl
  scripts/extract_metamath.jl
  scripts/extract_minizinc.jl
  scripts/extract_mizar.jl
  scripts/extract_pvs.jl
Due: none

feat(corpus): emit premises from extract_minizinc.jl
  scripts/extract_minizinc.jl
Due: none

feat(corpus): emit premises from naproche + nitpick extractors
  scripts/extract_naproche.jl
  scripts/extract_nitpick.jl
Due: none

docs(roadmap): canonical roadmap — supersedes scattered planning docs
  docs/ROADMAP.md
Due: none

feat(corpus): emit premises from 37 medium-priority extractors (model checkers/SMT/verifiers)
  scripts/extract_abc.jl
  scripts/extract_acl2s.jl
  scripts/extract_dreal.jl
  scripts/extract_isabelle_tropical.jl
  scripts/extract_isabelle_zf.jl
  scripts/extract_nunchaku.jl
  scripts/extract_nusmv.jl
  scripts/extract_opentheory.jl
  scripts/extract_prism.jl
  scripts/extract_proverif.jl
  scripts/extract_sat_benchmarks.jl
  scripts/extract_seahorn.jl
  scripts/extract_smtlib.jl
  scripts/extract_spin.jl
  scripts/extract_tamarin.jl
  scripts/extract_tlaps.jl
  scripts/extract_tlc.jl
  scripts/extract_tptp.jl
  scripts/extract_typechecker_ecosystem.jl
  scripts/extract_typed_wasm.jl
  scripts/extract_uppaal.jl
  scripts/extract_viper.jl
  scripts/extract_why3.jl
Due: none

docs(claude): codify scout-pattern as standing instruction
  .claude/CLAUDE.md
Due: none

chore(s3): stub crates/typed_wasm/Cargo.toml ahead of extraction
  crates/typed_wasm/Cargo.toml
Due: none

chore(s3): slim typed_wasm crate deps — domain engine needs only anyhow
  crates/typed_wasm/Cargo.toml
Due: none

fix(just): retrain now depends on align-premises to prevent 0%-join runs
  Justfile
Due: none

Claude/fix prover wiring epy ir (#30)
  Justfile
  crates/typed_wasm/Cargo.toml
Due: none

feat(s3): extract typed_wasm engine + route 39 disciplines through TypeInfo
  Cargo.lock
  Cargo.toml
  crates/typed_wasm/src/lib.rs
  src/rust/provers/mod.rs
  src/rust/provers/typed_wasm.rs
Due: rust, Rust Core

docs(claude-md): prune dead and aspirational language entries
  .claude/CLAUDE.md
Due: none

docs(claude-md): correct ReScript file count (33 → 10)
  CLAUDE.md
Due: none

chore(tidy): delete banned Python script and correct stale repo-tree entries
  CLAUDE.md
  generate_idr.py
Due: none

policy(lang): ban ReScript; lock AffineScript-TEA as UI replacement
  .claude/CLAUDE.md
Due: none

docs(claude-md): correct stale 'v2.2+ Tamarin/ProVerif bridge' entry
  CLAUDE.md
Due: none

docs(claude-md): sharpen v2.2+ status for Chapel FFI and GNN training
  CLAUDE.md
Due: none

security(deps): clear cargo-audit vuln + 2 unmaintained-crate warnings
  Cargo.lock
  Cargo.toml
  src/rust/proof_encoding.rs
Due: rust, Rust Core

security(deps): clear cargo-audit vuln + 2 unmaintained-crate warnings (#31)
  Cargo.lock
  Cargo.toml
  src/rust/proof_encoding.rs
Due: rust, Rust Core

Path conditions:
  rust: any of: src/rust/, but not: tests/, examples/, docs/, scripts/, target/, .cargo/, .julia/
  julia: any of: src/julia/, but not: tests/, examples/, docs/, scripts/, target/, .cargo/, .julia/
  rescript: any of: src/rescript/, but not: tests/, examples/, docs/, scripts/, target/, .cargo/, .julia/
  Rust Core: any of: src/rust/, but not: tests/, examples/, docs/, scripts/, target/, .cargo/, .julia/
  Julia ML: any of: src/julia/, but not: tests/, examples/, docs/, scripts/, target/, .cargo/, .julia/
  ReScript UI: any of: src/rescript/, but not: tests/, examples/, docs/, scripts/, target/, .cargo/, .julia/
