Repository Hyperpolymath/echidna: changes, and which Codecov flags are due for each by the changed paths.
All: rust, julia, rescript, Rust Core, Julia ML, ReScript UI

feat(ci): enable Hypatia scanning
  .github/workflows/hypatia-scan.yml
Due: none

feat: add K9 component for theorem prover environment setup
  setup-prover-env.k9.ncl
Due: none

chore: sync
  .bot_directives/README.scm
  .bot_directives/echidnabot.scm
  .bot_directives/finishbot.scm
  .bot_directives/glambot.scm
  .bot_directives/rhodibot.scm
  .bot_directives/robot-repo-automaton.scm
  .bot_directives/seambot.scm
  .bot_directives/sustainabot.scm
  .machine_readable/ECOSYSTEM.scm
  .machine_readable/META.scm
  .machine_readable/STATE.scm
  ECOSYSTEM.scm
  META.scm
  STATE.scm
  contractiles/dust/Dustfile
  contractiles/lust/Lustfile
  contractiles/must/Mustfile
  contractiles/trust/Trustfile
Due: none

general update
  ABI-FFI-README.md
  AI.a2ml
  AI.djot
  ROADMAP.adoc
  RSR_OUTLINE.adoc
  ai-cli-crash-capture/README.adoc
  ai-cli-crash-capture/bash/recoverer.sh
  ai-cli-crash-capture/recoverer-setup.sh
  ai-cli-crash-capture/systemd/terminal-recoverer-coredump.service
  ai-cli-crash-capture/systemd/terminal-recoverer.service
  contractiles/README.adoc
  contractiles/k9/README.adoc
  contractiles/k9/examples/ci-config.k9.ncl
  contractiles/k9/examples/project-metadata.k9.ncl
  contractiles/k9/examples/setup-repo.k9.ncl
  contractiles/k9/template-hunt.k9.ncl
  contractiles/k9/template-kennel.k9.ncl
  contractiles/k9/template-yard.k9.ncl
  contractiles/lust/Intentfile
  contractiles/trust/Trustfile.hs
  examples/SafeDOMExample.res
  examples/web-project-deno.json
  ffi/zig/build.zig
  ffi/zig/src/main.zig
  ffi/zig/test/integration_test.zig
  src/abi/Foreign.idr
  src/abi/Layout.idr
  src/abi/Types.idr
Due: none

docs: add SCM checkpoint files
  ECOSYSTEM.scm
  META.scm
  STATE.scm
  tests/property_tests.proptest-regressions
Due: none

docs: update SCM files with project information
  ECOSYSTEM.scm
Due: none

docs: update checkpoint files, add correctness architecture
  CORRECTNESS-ARCHITECTURE.md
  ECOSYSTEM.scm
  META.scm
  ROADMAP.adoc
  STATE.scm
Due: none

general update
  .claude/settings.local.json
Due: none

feat: add Vampire ATP backend (Tier 5 prover)
  src/rust/provers/mod.rs
  src/rust/provers/vampire.rs
Due: rust, Rust Core

feat: register Vampire in Julia ML and Chapel parallel layers
  chapel_poc/parallel_proof_search.chpl
  src/julia/EchidnaML.jl
Due: julia, Julia ML

feat: integrate E Prover, SPASS, and Alt-Ergo FOL ATPs
  chapel_poc/parallel_proof_search.chpl
  src/julia/EchidnaML.jl
  src/rust/provers/altergo.rs
  src/rust/provers/eprover.rs
  src/rust/provers/mod.rs
  src/rust/provers/spass.rs
Due: rust, julia, Rust Core, Julia ML

feat: consolidate all interfaces into echidna monorepo
  Cargo.toml
  STATE.scm
  chapel_poc/chapel_ffi_exports.chpl
  src/interfaces/README.md
  src/interfaces/graphql/Cargo.toml
  src/interfaces/graphql/main.rs
  src/interfaces/graphql/resolvers.rs
  src/interfaces/graphql/schema.rs
  src/interfaces/grpc/Cargo.toml
  src/interfaces/grpc/build.rs
  src/interfaces/grpc/main.rs
  src/interfaces/grpc/proto/echidna.proto
  src/interfaces/rest/Cargo.toml
  src/interfaces/rest/handlers.rs
  src/interfaces/rest/main.rs
  src/interfaces/rest/models.rs
  src/rust/lib.rs
  src/rust/proof_search.rs
  src/zig_ffi/build.zig
  src/zig_ffi/chapel_bridge.zig
Due: rust, Rust Core

docs: comprehensive v1.4.0 documentation update
  .machine_readable/META.scm
  .machine_readable/STATE.scm
  AI.a2ml
  README.md
  ROADMAP.adoc
Due: none

feat: add panic-attack security scan workflow
  .github/workflows/security-scan.yml
Due: none

docs: add Sonnet task plan for autonomous development
  SONNET-TASKS.md
Due: none

docs: update documentation to reflect trust & safety hardening completion
  .machine_readable/ECOSYSTEM.scm
  .machine_readable/META.scm
  .machine_readable/STATE.scm
  CHANGELOG.adoc
  CLAUDE.md
  README.adoc
  ROADMAP.adoc
Due: none

Path conditions:
  rust: any of: src/rust/, but not: tests/, examples/, docs/, scripts/, target/, .cargo/, .julia/
  julia: any of: src/julia/, but not: tests/, examples/, docs/, scripts/, target/, .cargo/, .julia/
  rescript: any of: src/rescript/, but not: tests/, examples/, docs/, scripts/, target/, .cargo/, .julia/
  Rust Core: any of: src/rust/, but not: tests/, examples/, docs/, scripts/, target/, .cargo/, .julia/
  Julia ML: any of: src/julia/, but not: tests/, examples/, docs/, scripts/, target/, .cargo/, .julia/
  ReScript UI: any of: src/rescript/, but not: tests/, examples/, docs/, scripts/, target/, .cargo/, .julia/
