Repository Hyperpolymath/echidna: changes, and which Codecov flags are due for each by the changed paths.
All: rust, julia, rescript, Rust Core, Julia ML, ReScript UI

codecov.yml:

# SPDX-License-Identifier: PMPL-1.0-or-later
# SPDX-FileCopyrightText: 2024-2025 ECHIDNA Project Contributors
#
# Codecov configuration for ECHIDNA

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_ci_failed: error

    patch:
      default:
        target: 70%
        threshold: 5%

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

ignore:
  - "tests/"
  - "examples/"
  - "docs/"
  - "scripts/"
  - "target/"
  - ".cargo/"
  - ".julia/"

flags:
  rust:
    paths:
      - src/rust/
    carryforward: true

  julia:
    paths:
      - src/julia/
    carryforward: true

  rescript:
    paths:
      - src/rescript/
    carryforward: true

# Component coverage
component_management:
  individual_components:
    - component_id: rust_core
      name: Rust Core
      paths:
        - src/rust/

    - component_id: julia_ml
      name: Julia ML
      paths:
        - src/julia/

    - component_id: rescript_ui
      name: ReScript UI
      paths:
        - src/rescript/

docs(readme): defer Tier-1 list to canonical source; correct just recipes; expand prerequisites
  README.adoc
Due: none

docs(proofs): echo-types audit per estate standing directive (2026-06-01)
  docs/PROOF-NEEDS.md
Due: none

docs(prover-count): correct Tier-1 + Tier-2 membership; note known count drift
  docs/PROVER_COUNT.md
Due: none

docs(quickstart): refresh USER + DEV to match live CLI/recipes/paths
  QUICKSTART-DEV.adoc
  QUICKSTART-USER.adoc
Due: none

chore(seams): bump 6 stale standards reusable pins + fix proven manifest drift
  .github/workflows/hypatia-scan.yml
  .github/workflows/mirror.yml
  .github/workflows/rust-ci.yml
  .github/workflows/scorecard.yml
  .github/workflows/secret-scanner.yml
  .github/workflows/spark-theatre-gate.yml
  .machine_readable/integrations/proven.a2ml
Due: none

docs(security): unstale supported-versions, reporting route, contacts
  SECURITY.md
Due: none

docs(governance): refresh MAINTAINERS + AUTHORS
  AUTHORS.md
  MAINTAINERS.adoc
Due: none

docs(coc): replace placeholder contacts; drop R5b-drifty Version footer
  CODE_OF_CONDUCT.md
Due: none

docs(wiki): drop R5b-drifty Version: footer from Home.md
  docs/wiki/Home.md
Due: none

docs(roadmap): bump last-revised; note R5/MVP-smoke governance post-state
  docs/ROADMAP.md
Due: none

docs(claude): add CLI subcommand list + Governance gates section
  CLAUDE.md
Due: none

ci(chapel): bump Chapel toolchain 2.3.0 -> 2.8.0 (closes #181)
  .github/workflows/chapel-ci.yml
  src/chapel/chapel_ffi_exports.chpl
Due: none

release(v2.3.0): reconcile Cargo.toml + CHANGELOG (closes #173)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

fix(scripts): use mktemp for temp paths (closes 3 panic-attack path-traversal findings)
  scripts/balance_corpus.sh
  scripts/balance_corpus_fast.sh
  scripts/gen-provers-a2ml.sh
Due: none

docs(audits): FFI boundary §§9-11 + 6 classifications (FLINT + Zig bridges + Zig overlay)
  reports/audits/assail-classifications.a2ml
  reports/audits/audit-ffi-boundary.md
Due: none

feat(api/graphql): add verifyProof + suggestTactics(prover/context/goalState) + proverStatus (closes #180)
  src/interfaces/README.md
  src/interfaces/graphql/resolvers.rs
  src/interfaces/graphql/schema.rs
Due: none

chore: purge nix per estate-wide deprecation directive 2026-06-01
  .claude/CLAUDE.md
  .github/dependabot.yml
  .github/workflows/live-provers.yml
  RSR_COMPLIANCE.adoc
  docs/handover/L3-LIVE-PROVER-CI-PROMPT.md
  docs/handover/PRODUCTION-WIRING-PLAN.md
  docs/handover/STATE.md
  docs/handover/TODO.md
  docs/handover/llm-warmup-dev.md
  docs/wiki/Getting-Started.md
  docs/wiki/Home.md
  echidna-playground/.claude/CLAUDE.md
  echidna-playground/.github/dependabot.yml
  echidna-playground/RSR_OUTLINE.adoc
  manifests/live-provers.scm
Due: none

fix(scripts): use mktemp for temp paths (closes 3 panic-attack path-traversal findings) (#185)
  scripts/balance_corpus.sh
  scripts/balance_corpus_fast.sh
  scripts/gen-provers-a2ml.sh
Due: none

docs: meticulous doc maxout (human + machine) — 2026-06-01 (#182)
  AUTHORS.md
  CLAUDE.md
  CODE_OF_CONDUCT.md
  MAINTAINERS.adoc
  QUICKSTART-DEV.adoc
  QUICKSTART-USER.adoc
  README.adoc
  SECURITY.md
  docs/PROVER_COUNT.md
  docs/ROADMAP.md
  docs/wiki/Home.md
Due: none

chore(seams): bump 6 stale standards pins + fix proven manifest drift (#179)
  .github/workflows/hypatia-scan.yml
  .github/workflows/mirror.yml
  .github/workflows/rust-ci.yml
  .github/workflows/scorecard.yml
  .github/workflows/secret-scanner.yml
  .github/workflows/spark-theatre-gate.yml
  .machine_readable/integrations/proven.a2ml
Due: none

docs(proofs): echo-types audit per estate standing directive (#178)
  docs/PROOF-NEEDS.md
Due: none

fix(security): bound load_octads_jsonl read — panic-attack Critical resurfaced (Refs #104) (#176)
  src/rust/corpus/octad.rs
Due: rust, Rust Core

release(v2.3.0): reconcile Cargo.toml + CHANGELOG (closes #173) (#184)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

chore: purge nix per estate-wide deprecation directive 2026-06-01 (#189)
  .claude/CLAUDE.md
  .github/dependabot.yml
  .github/workflows/live-provers.yml
  RSR_COMPLIANCE.adoc
  docs/handover/L3-LIVE-PROVER-CI-PROMPT.md
  docs/handover/PRODUCTION-WIRING-PLAN.md
  docs/handover/STATE.md
  docs/handover/TODO.md
  docs/handover/llm-warmup-dev.md
  docs/wiki/Getting-Started.md
  docs/wiki/Home.md
  echidna-playground/.claude/CLAUDE.md
  echidna-playground/.github/dependabot.yml
  echidna-playground/RSR_OUTLINE.adoc
  manifests/live-provers.scm
Due: none

docs(audits): FFI boundary §§9-11 (FLINT + Zig bridges + Zig overlay) — closes #177 (#186)
  reports/audits/assail-classifications.a2ml
  reports/audits/audit-ffi-boundary.md
Due: none

feat(api/graphql): add verifyProof + suggestTactics(prover/context/goalState) + proverStatus (closes #180) (#188)
  src/interfaces/README.md
  src/interfaces/graphql/resolvers.rs
  src/interfaces/graphql/schema.rs
Due: none

docs(handover): declare prover/corpus saturation lane
  docs/handover/PROVER-CORPUS-SATURATION-LANE.md
Due: none

feat(corpus): 13 new adapters + 12 synonym tables + MSC2020/WordNet/ConceptNet seeds
  data/synonyms/_conceptnet_seed.toml
  data/synonyms/_msc2020.toml
  data/synonyms/_wordnet_math.toml
  data/synonyms/acl2.toml
  data/synonyms/dafny.toml
  data/synonyms/fstar.toml
  data/synonyms/hol4.toml
  data/synonyms/hol_light.toml
  data/synonyms/isabelle_afp.toml
  data/synonyms/metamath.toml
  data/synonyms/mizar.toml
  data/synonyms/why3.toml
  src/rust/corpus/acl2_books.rs
  src/rust/corpus/dafny.rs
  src/rust/corpus/fstar.rs
  src/rust/corpus/hol4.rs
  src/rust/corpus/hol_light.rs
  src/rust/corpus/isabelle.rs
  src/rust/corpus/metamath.rs
  src/rust/corpus/minif2f.rs
  src/rust/corpus/mizar.rs
  src/rust/corpus/mod.rs
  src/rust/corpus/proofnet.rs
  src/rust/corpus/smtlib.rs
  src/rust/corpus/tptp.rs
  src/rust/corpus/why3.rs
  tests/corpus_fixtures/acl2/smoke.lisp
  tests/corpus_fixtures/dafny/Smoke.dfy
  tests/corpus_fixtures/fstar/Smoke.fst
  tests/corpus_fixtures/hol4/MiniScript.sml
  tests/corpus_fixtures/hol_light/smoke.ml
  tests/corpus_fixtures/isabelle/Smoke.thy
  tests/corpus_fixtures/metamath/mini.mm
  tests/corpus_fixtures/minif2f/algebra.lean
  tests/corpus_fixtures/mizar/MINI.miz
  tests/corpus_fixtures/proofnet/mini.jsonl
  tests/corpus_fixtures/smtlib/mini.smt2
  tests/corpus_fixtures/tptp/mini.p
  tests/corpus_fixtures/why3/smoke.mlw
Due: rust, Rust Core

feat(arbiter): Bayesian + Dempster-Shafer + Pareto arbitration trio
  src/rust/verification/bayesian_arbiter.rs
  src/rust/verification/dempster_shafer.rs
  src/rust/verification/mod.rs
  src/rust/verification/pareto_arbiter.rs
Due: rust, Rust Core

feat(exchange): TPTP + SMT-LIB + SMTCoq + Lambdapi bridges
  src/rust/exchange/lambdapi.rs
  src/rust/exchange/mod.rs
  src/rust/exchange/smtcoq.rs
  src/rust/exchange/smtlib.rs
  src/rust/exchange/tptp.rs
Due: rust, Rust Core

feat(er): Cap'n Proto schema for VeriSim E-R
  crates/echidna-wire/schemas/verisim_er.capnp
Due: none

feat(synonyms): wire 9 new per-prover tables + load_cross_prover_dicts
  src/rust/suggest/synonyms.rs
Due: rust, Rust Core

docs(er): formal VeriSim E-R schema + CORPUS-ADAPTERS index + saturation ADR
  docs/CORPUS-ADAPTERS.md
  docs/architecture/VERISIM-ER-SCHEMA.md
  docs/decisions/2026-06-01-saturation-campaign.md
Due: none

test(saturation): green up 139 tests; ignore one heuristic-limit
  src/rust/corpus/dafny.rs
  src/rust/exchange/smtlib.rs
  src/rust/verification/dempster_shafer.rs
Due: rust, Rust Core

fix(exchange): smtlib split_paren_block takes &str not String
  src/rust/exchange/smtlib.rs
Due: rust, Rust Core

docs(template): close 9 RSR-template substitution gaps
  AUTHORS.md
  CODE_OF_CONDUCT.md
  SECURITY.md
Due: none

feat(typing): 42-discipline embedding wired through Corpus::reindex
  data/synonyms/_disciplines.toml
  docs/CORPUS-ADAPTERS.md
  docs/architecture/TYPE-DISCIPLINE-EMBEDDING.md
  src/julia/corpus_loader.jl
  src/rust/corpus/mod.rs
  src/rust/disciplines/detector.rs
  src/rust/disciplines/mod.rs
  src/rust/disciplines/registry.rs
  src/rust/suggest/synonyms.rs
Due: rust, julia, Rust Core, Julia ML

docs(saturation): full docs/configs/Julia/Chapel integration sweep
  .machine_readable/6a2/ECOSYSTEM.a2ml
  .machine_readable/6a2/META.a2ml
  .machine_readable/6a2/NEUROSYM.a2ml
  .machine_readable/6a2/STATE.a2ml
  CHANGELOG.md
  EXPLAINME.adoc
  Justfile
  README.adoc
  docs/architecture/CHAPEL-SATURATION-HOOKS.md
  docs/architecture/JULIA-SATURATION-HOOKS.md
  docs/wiki/Architecture.md
  docs/wiki/FAQ.md
  docs/wiki/Getting-Started.md
  docs/wiki/Guides.md
  docs/wiki/Home.md
  docs/wiki/Troubleshooting.md
  src/julia/README.md
  src/julia/corpus_loader.jl
  src/julia/saturation_synonyms.jl
  src/rust/corpus/mod.rs
  src/rust/exchange/mod.rs
  src/rust/verification/mod.rs
  src/rust/verisim_bridge.rs
Due: rust, julia, Rust Core, Julia ML

ci: bump a2ml-validate-action to 6bff6ec (s-expression form support)
  .github/workflows/dogfood-gate.yml
Due: none

ci: bump a2ml-validate-action to 6bff6ec (s-expression form support) (#199)
  .github/workflows/dogfood-gate.yml
Due: none
