Repository Hyperpolymath/echidna: changes, and which Codecov flags are due for each by the changed paths.
All: rust, julia, rescript, Rust Core, Julia ML, ReScript UI

audit: classify resilience, z3, pvs, hol4, provers/mod findings
  audits/assail-classifications.a2ml
  audits/audit-ffi-boundary.md
Due: none

fix(ci): fix cvc5/vampire/alt-ergo provisioning in live-provers.yml
  .github/workflows/live-provers.yml
Due: none

ci(chapel): add real-Chapel CI job; mark F5 done in TODO
  .github/workflows/chapel-ci.yml
  docs/handover/TODO.md
Due: none

feat(extractors): add premise extraction for isabelle/hol4/fstar/agda/idris2/mizar/tlaps/why3/acl2 (Stage 1c)
  src/julia/extract_training_data.jl
Due: julia, Julia ML

fix(dafny): deep-wire subprocess, temp-file verify, real suggest_tactics
  src/rust/provers/dafny.rs
Due: rust, Rust Core

feat(provers): implement suggest_tactics + search_theorems across Stage 4c/4d backends
  src/rust/provers/acl2s.rs
  src/rust/provers/altergo.rs
  src/rust/provers/arend.rs
  src/rust/provers/athena.rs
  src/rust/provers/boogie.rs
  src/rust/provers/cameleer.rs
  src/rust/provers/chuffed.rs
  src/rust/provers/cubical_agda.rs
  src/rust/provers/dedukti.rs
  src/rust/provers/eprover.rs
  src/rust/provers/fstar.rs
  src/rust/provers/glpk.rs
  src/rust/provers/imandra.rs
  src/rust/provers/isabelle_zf.rs
  src/rust/provers/lambda_prolog.rs
  src/rust/provers/lean3.rs
  src/rust/provers/matita.rs
  src/rust/provers/mercury.rs
  src/rust/provers/minizinc.rs
  src/rust/provers/minlog.rs
  src/rust/provers/mizar_ar.rs
  src/rust/provers/naproche.rs
  src/rust/provers/nitpick.rs
  src/rust/provers/nunchaku.rs
  src/rust/provers/nuprl.rs
  src/rust/provers/opensmt.rs
  src/rust/provers/ortools.rs
  src/rust/provers/prover9.rs
  src/rust/provers/rocq.rs
  src/rust/provers/scip.rs
  src/rust/provers/smtrat.rs
  src/rust/provers/spass.rs
  src/rust/provers/tlaps.rs
  src/rust/provers/twelf.rs
  src/rust/provers/uppaal_stratego.rs
  src/rust/provers/vampire.rs
  src/rust/provers/viper.rs
  src/rust/provers/why3.rs
  src/rust/provers/zipperposition.rs
Due: rust, Rust Core

feat(live-provers): emit VeriSimDB records from live version-check tests (Stage 3c)
  Cargo.toml
  tests/live_prover_suite.rs
Due: none

chore(meta): record 2026-04-26 morning nightly triage attempt in STATE.a2ml
  .machine_readable/6a2/STATE.a2ml
Due: none

chore(meta): nightly triage 2026-04-26 — BLOCKED, manual follow-up required (#38)
  .machine_readable/6a2/STATE.a2ml
Due: none

feat(spark): scaffold echidna-core-spark crate with Creusot annotations on TrustLevel + DangerLevel
  Cargo.lock
  Cargo.toml
  crates/echidna-core-spark/CREUSOT-SETUP.md
  crates/echidna-core-spark/Cargo.toml
  crates/echidna-core-spark/src/axiom_tracker.rs
  crates/echidna-core-spark/src/lib.rs
Due: none

proof(e12): ProofState serialization losslessness in Idris2
  PROOF-NEEDS.md
  verification/proofs/idris2/ProofStateSerialisation.idr
Due: none

feat(tests): add proptest panic-attack property harnesses (Stage 8d)
  tests/panic_attack_props.rs
Due: none

feat(julia): add 12 premise extractors for SMT/ATP/security/auto-active (S1)
  src/julia/extract_training_data.jl
Due: julia, Julia ML

feat(proofs): add 3 Idris2 trust-kernel proofs (Stage 8a)
  PROOF-NEEDS.md
  verification/proofs/idris2/AxiomPolicyOrdering.idr
  verification/proofs/idris2/ClampTrustBounds.idr
  verification/proofs/idris2/TrustKernelMonotonicity.idr
Due: none

feat(julia): final 6 extractors reach S1 target of 50 (44→50 named)
  src/julia/extract_training_data.jl
Due: julia, Julia ML

fix(tests): rewrite stage1_integration_test with real API
  tests/stage1_integration_test.rs
Due: none

feat(julia): add 20 more premise extractors (S1, 24→44 named)
  src/julia/extract_training_data.jl
Due: julia, Julia ML

feat(verisim): wire Stage 3a/3b read paths + dispatch advisor
  src/rust/dispatch.rs
  src/rust/verisim_bridge.rs
Due: rust, Rust Core

fix(tests): add gnn_api_url to live_config; wire GPU backends in CI
  .github/workflows/live-provers.yml
  tests/live_prover_suite.rs
  tests/live_prover_verify.rs
Due: none

docs(todo): mark 11 items completed in 2026-04-26 session
  docs/handover/TODO.md
Due: none

feat(fuzz): add 3 real AFL++/libfuzzer targets for Stage 8d
  fuzz/Cargo.toml
  fuzz/fuzz_targets/fuzz_axiom_tracker.rs
  fuzz/fuzz_targets/fuzz_proof_state.rs
  fuzz/fuzz_targets/fuzz_trust_pipeline.rs
Due: none

feat(provers): GNN-augmented suggest_tactics for 5 key provers (S5)
  src/rust/ffi/mod.rs
  src/rust/provers/agda.rs
  src/rust/provers/isabelle.rs
  src/rust/provers/lean.rs
  src/rust/provers/mod.rs
  src/rust/provers/rocq.rs
  src/rust/provers/z3.rs
Due: rust, Rust Core

fix(tests): add gnn_api_url: None to ProverConfig initializers
  tests/common/mod.rs
  tests/integration_v1_2.rs
Due: none

feat(julia): add GPU extractors for GPUVerify and Faial
  src/julia/extract_training_data.jl
Due: julia, Julia ML

feat(provers): add GPUVerify + Faial GPU verification backends
  src/rust/ffi/mod.rs
  src/rust/provers/faial.rs
  src/rust/provers/gpuverify.rs
  src/rust/provers/mod.rs
  verification/proofs/idris2/ProverKindInjectivity.idr
Due: rust, Rust Core

feat(agda): add 6 trust-pipeline meta-proofs (Stage 8b, 6→12 modules)
  proofs/agda/AxiomMonotonicity.agda
  proofs/agda/CertificateChain.agda
  proofs/agda/DispatchOrdering.agda
  proofs/agda/PortfolioConsistency.agda
  proofs/agda/SoundnessPreservation.agda
  proofs/agda/TrustLattice.agda
Due: none

chore(fuzz): update Cargo.lock for fuzz workspace
  fuzz/Cargo.lock
Due: none

chore(ci): bump chapel-ci checkout v4→v6; add Wave-4 per-backend rationale
  .github/workflows/chapel-ci.yml
  .machine_readable/6a2/STATE.a2ml
Due: none

docs(todo): update TODO with session-2 completions (2026-04-26)
  docs/handover/TODO.md
Due: none

feat(l1-prep): scaffold all missing L1 Cap'n Proto artifacts
  Justfile
  ffi/zig/src/capnp_bridge.zig
  schemas/VERSIONING.md
  src/abi/EchidnaABI/CapnSchemas.idr
  src/julia/ipc.jl
Due: julia, Julia ML

chore(l1): record CapnProto.jl decision + all L1 design questions settled
  .machine_readable/6a2/STATE.a2ml
  src/julia/ipc.jl
Due: julia, Julia ML

docs(handover): update task-status snapshot — Real-Chapel + Dafny + VeriSimDB all done
  docs/handover/TODO.md
Due: none

fix(live-provers): harden T2 installer steps — four known nightly failure modes
  .github/workflows/live-provers.yml
Due: none

fix(live-provers): complete T2 backend hardening — idris2, lean4, dafny, tlapm
  .github/workflows/live-provers.yml
Due: none

feat(prove): EI-1 --project-root + safe-learning-b --sandbox
  src/rust/ffi/mod.rs
  src/rust/main.rs
  src/rust/provers/isabelle.rs
  src/rust/provers/mod.rs
Due: rust, Rust Core

feat(coprocessor): Phase 0 foundation — coprocessor abstraction + meta-control
  .machine_readable/6a2/STATE.a2ml
  Cargo.lock
  Cargo.toml
  src/abi/CoprocessorForeign.idr
  src/ada/spark/coprocessor_safety.adb
  src/ada/spark/coprocessor_safety.ads
  src/julia/coprocessor.jl
  src/rust/agent/meta_controller.rs
  src/rust/agent/mod.rs
  src/rust/coprocessor/julia_bridge.rs
  src/rust/coprocessor/math.rs
  src/rust/coprocessor/mod.rs
  src/rust/coprocessor/trust.rs
  src/rust/coprocessor/types.rs
  src/rust/lib.rs
Due: rust, julia, Rust Core, Julia ML

feat(coprocessor): Phase 6A — Vector + Tensor + Crypto + Physics backends
  .machine_readable/6a2/STATE.a2ml
  Cargo.lock
  Cargo.toml
  src/abi/CoprocessorForeign.idr
  src/rust/coprocessor/crypto.rs
  src/rust/coprocessor/julia_bridge.rs
  src/rust/coprocessor/math.rs
  src/rust/coprocessor/mod.rs
  src/rust/coprocessor/physics.rs
  src/rust/coprocessor/tensor.rs
  src/rust/coprocessor/types.rs
  src/rust/coprocessor/vector.rs
Due: rust, Rust Core

feat(coprocessor): Phase 2a — FLINT FFI CAS backend
  .machine_readable/6a2/STATE.a2ml
  Cargo.toml
  build.rs
  src/rust/coprocessor/flint.rs
  src/rust/coprocessor/julia_bridge.rs
  src/rust/coprocessor/mod.rs
  src/rust/coprocessor/types.rs
  src/rust/ffi/mod.rs
  src/rust/provers/agsyhol.rs
  src/rust/provers/aprove.rs
  src/rust/provers/csi.rs
  src/rust/provers/iprover.rs
  src/rust/provers/lash.rs
  src/rust/provers/leo3.rs
  src/rust/provers/metitarski.rs
  src/rust/provers/mod.rs
  src/rust/provers/princess.rs
  src/rust/provers/satallax.rs
  src/rust/provers/twee.rs
Due: rust, Rust Core

fix(provers): commit orphan tptp_output.rs — required by 4 HO-ATPs
  src/rust/provers/tptp_output.rs
Due: rust, Rust Core

feat(coprocessor): Phase 6B — Dsp + Io + Graphics + Audio + Fpga backends
  .machine_readable/6a2/STATE.a2ml
  Cargo.lock
  Cargo.toml
  src/abi/CoprocessorForeign.idr
  src/rust/coprocessor/audio.rs
  src/rust/coprocessor/dsp.rs
  src/rust/coprocessor/fpga.rs
  src/rust/coprocessor/graphics.rs
  src/rust/coprocessor/io.rs
  src/rust/coprocessor/julia_bridge.rs
  src/rust/coprocessor/mod.rs
  src/rust/coprocessor/types.rs
Due: rust, Rust Core

Path conditions:
  rust: any of: src/rust/, but not: tests/, examples/, docs/, scripts/, target/, .cargo/, .julia/
  julia: any of: src/julia/, but not: tests/, examples/, docs/, scripts/, target/, .cargo/, .julia/
  rescript: any of: src/rescript/, but not: tests/, examples/, docs/, scripts/, target/, .cargo/, .julia/
  Rust Core: any of: src/rust/, but not: tests/, examples/, docs/, scripts/, target/, .cargo/, .julia/
  Julia ML: any of: src/julia/, but not: tests/, examples/, docs/, scripts/, target/, .cargo/, .julia/
  ReScript UI: any of: src/rescript/, but not: tests/, examples/, docs/, scripts/, target/, .cargo/, .julia/
